In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, DateTime

# hide ipykernel warnings 
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 120)

In [2]:
# Connect to database
engine = create_engine(f"mysql+mysqlconnector://{name}:{password}@{host}:3306/{db}", echo=True)
connection = engine.connect()

2021-08-02 23:12:28,582 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-08-02 23:12:28,584 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-08-02 23:12:28,592 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-08-02 23:12:28,594 INFO sqlalchemy.engine.Engine [generated in 0.00368s] {}
2021-08-02 23:12:28,605 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-08-02 23:12:28,606 INFO sqlalchemy.engine.Engine [raw sql] {}

In [3]:
# Read in list of most common subroutes
with open("most_common_subroutes.txt") as file:
    most_common_subroutes = file.readlines()
most_common_subroutes = [line.strip() for line in most_common_subroutes]

In [4]:
print(most_common_subroutes)

['102_8', '102_9', '104_15', '104_16', '111_7', '111_8', '114_5', '114_6', '116_1', '116_3', '118_4', '11_40', '11_42', '120_7', '120_9', '122_18', '122_20', '123_34', '123_36', '130_10', '130_11', '13_60', '13_67', '140_19', '140_21', '142_12', '142_13', '145_102', '145_105', '14C_17', '14C_18', '14_15', '14_16', '150_8', '150_9', '151_15', '151_17', '15A_83', '15A_84', '15B_60', '15B_61', '15D_62', '15D_63', '15_16', '15_17', '161_50', '161_51', '16C_28', '16C_29', '16D_30', '16_20', '16_24', '17A_15', '17A_17', '17_10', '17_15', '184_28', '184_29', '185_53', '185_56', '18_3', '18_4', '1_37', '1_40', '220_10', '220_12', '236_10', '236_9', '238_11', '238_15', '239_26', '239_28', '25A_270', '25A_273', '25B_271', '25B_274', '25D_275', '25D_277', '25X_10', '25X_11', '25_269', '25_272', '26_28', '26_29', '270_42', '270_44', '27A_4', '27A_5', '27B_23', '27B_34', '27X_42', '27X_43', '27_17', '27_19', '29A_14', '29A_15', '31A_25', '31A_26', '31B_44', '31B_46', '31D_50', '31D_51', '31_15', '31_18', '32X_76', '32X_77', '32_57', '32_58', '33A_22', '33A_25', '33B_56', '33B_58', '33D_61', '33D_62', '33E_74', '33X_46', '33X_49', '33_44', '33_70', '37_14', '37_15', '38A_20', '38A_32', '38B_40', '38B_44', '38D_61', '38D_68', '38_14', '38_9', '39A_40', '39A_43', '39X_1', '39X_3', '39_20', '39_21', '40B_63', '40B_65', '40D_102', '40D_104', '40E_90', '40E_91', '40_27', '40_31', '41A_22', '41B_52', '41B_53', '41C_78', '41C_79', '41D_26', '41D_27', '41X_121', '41X_125', '41_3', '41_7', '42D_50', '42D_51', '42_42', '42_44', '43_84', '43_88', '44B_60', '44B_61', '44_36', '44_40', '45A_60', '45A_64', '46A_67', '46A_74', '46E_94', '47_136', '47_139', '49_27', '49_28', '4_10', '4_12', '51D_50', '51D_51', '51X_64', '53_20', '53_21', '54A_11', '54A_12', '56A_30', '56A_31', '59_10', '59_11', '61_106', '61_108', '63_26', '63_30', '65B_65', '65B_66', '65_74', '65_77', '66A_37', '66A_38', '66B_58', '66B_59', '66X_102', '66X_92', '66_17', '66_18', '67X_43', '67X_46', '67_4', '67_6', '68A_86', '68A_87', '68X_88', '68_81', '68_83', '69X_59', '69X_60', '69_45', '69_47', '70D_70', '70D_71', '70_60', '70_67', '75_17', '75_19', '76A_28', '76A_29', '76_36', '76_37', '77A_28', '77A_29', '77X_61', '79A_27', '79A_28', '79_10', '79_11', '7A_85', '7A_87', '7B_91', '7B_93', '7D_120', '7D_123', '7_70', '7_72', '83A_17', '83A_23', '83_16', '83_22', '84A_1', '84A_3', '84X_57', '84X_62', '84_27', '84_30', '9_5', '9_7']

In [5]:
trips = pd.read_csv("trips_to_match_leavetimes.csv")

In [6]:
trips.head()

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,JOURNEYTIME
0,07-FEB-18 00:00:00,6253917,102,102_8,1,87253,84600,86999,84588,2411
1,07-FEB-18 00:00:00,6250433,102,102_8,1,29588,26100,30330,26175,4155
2,07-FEB-18 00:00:00,6253905,102,102_8,1,31737,28200,32979,28292,4687
3,07-FEB-18 00:00:00,6260556,102,102_8,1,33237,29700,33432,29770,3662
4,07-FEB-18 00:00:00,6259508,102,102_8,1,34437,30900,34743,30893,3850

In [7]:
trips.dtypes

DAYOFSERVICE       object
TRIPID              int64
LINEID             object
ROUTEID            object
DIRECTION           int64
PLANNEDTIME_ARR     int64
PLANNEDTIME_DEP     int64
ACTUALTIME_ARR      int64
ACTUALTIME_DEP      int64
JOURNEYTIME         int64
dtype: object

In [8]:
trips["LINEID"] = trips["LINEID"].astype(str)

In [9]:
print(trips.LINEID.unique().tolist())

['102', '104', '111', '114', '116', '118', '11', '120', '122', '123', '130', '13', '140', '142', '145', '14C', '14', '150', '151', '15A', '15B', '15D', '15', '161', '16C', '16D', '16', '17A', '17', '184', '185', '18', '1', '220', '236', '238', '239', '25A', '25B', '25D', '25X', '25', '26', '270', '27A', '27B', '27X', '27', '29A', '31A', '31B', '31D', '31', '32X', '32', '33A', '33B', '33D', '33E', '33X', '33', '37', '38A', '38B', '38D', '38', '39A', '39X', '39', '40B', '40D', '40E', '40', '41A', '41B', '41C', '41D', '41X', '41', '42D', '42', '43', '44B', '44', '45A', '46A', '46E', '47', '49', '4', '51D', '51X', '53', '54A', '56A', '59', '61', '63', '65B', '65', '66A', '66B', '66X', '66', '67X', '67', '68A', '68X', '68', '69X', '69', '70D', '70', '75', '76A', '76', '77A', '77X', '79A', '79', '7A', '7B', '7D', '7', '83A', '83', '84A', '84X', '84', '9']

In [10]:
# Initiate dataframe to hold stop proportions
proportions_df = pd.DataFrame(columns=["LINEID", "ROUTEID", "DIRECTION", "PROGRNUMBER", "STOPPOINTID", "STOP_PERCENT"])

In [11]:
# Drop table stop_proportions
drop_query = sqlalchemy.text("DROP TABLE stop_proportions")
# connection.execution_options(autocommit=True).execute(drop_query)

In [12]:
# Empty table stop_proportions of all data (noticed possible mistake in proportion calculation)
truncate_query = sqlalchemy.text("TRUNCATE TABLE stop_proportions")
# connection.execution_options(autocommit=True).execute(truncate_query)

In [13]:
# Calculate proportions for stops on most common subroutes and add to dataframe
for route in most_common_subroutes:
    line = str(route.split("_")[0])
    
    current = pd.read_csv("stoptimes/" + line + "_stops.csv")
    merged = current.merge(trips, how="left", on=["DAYOFSERVICE", "TRIPID"])
    
    route_subset = merged.loc[merged["ROUTEID"] == route]
    route_subset.dropna(inplace=True)
    route_subset["TIME_TO_STOP"] = route_subset["ACTUALARR_STOP"] - route_subset["ACTUALTIME_DEP"]
    
    direction = route_subset.iloc[0]["DIRECTION"]
    
    removal_indices = route_subset[route_subset["TIME_TO_STOP"] < 0].index
    route_subset.drop(removal_indices, inplace=True)
    
    route_subset["STOP_PERCENT"] = route_subset["TIME_TO_STOP"] / route_subset["JOURNEYTIME"] * 100
    route_subset.drop(["DAYOFSERVICE", "TRIPID", "ROUTEID", "PLANNEDDEP_STOP", "PLANNEDARR_STOP", "ACTUALARR_STOP", "ACTUALDEP_STOP", "LINEID", "PLANNEDTIME_ARR", "PLANNEDTIME_DEP", "ACTUALTIME_ARR", "ACTUALTIME_DEP", "JOURNEYTIME", "TIME_TO_STOP"], axis = 1, inplace=True)
    
    stop_list = route_subset.STOPPOINTID.unique().tolist()
    
    for stop in stop_list:
        current_stop = route_subset.loc[route_subset["STOPPOINTID"] == stop]
        median_percent = current_stop.STOP_PERCENT.median()
        new_row_proportions_df = {"LINEID":line, "ROUTEID":route, "DIRECTION":direction, "PROGRNUMBER":current_stop.iloc[0]["PROGRNUMBER"], "STOPPOINTID":stop, "STOP_PERCENT":median_percent}
        proportions_df = proportions_df.append(new_row_proportions_df, ignore_index=True)
    print("ROUTE", route, "complete")

ROUTE 102_8 complete
ROUTE 102_9 complete
ROUTE 104_15 complete
ROUTE 104_16 complete
ROUTE 111_7 complete
ROUTE 111_8 complete
ROUTE 114_5 complete
ROUTE 114_6 complete
ROUTE 116_1 complete
ROUTE 116_3 complete
ROUTE 118_4 complete
ROUTE 11_40 complete
ROUTE 11_42 complete
ROUTE 120_7 complete
ROUTE 120_9 complete
ROUTE 122_18 complete
ROUTE 122_20 complete
ROUTE 123_34 complete
ROUTE 123_36 complete
ROUTE 130_10 complete
ROUTE 130_11 complete
ROUTE 13_60 complete
ROUTE 13_67 complete
ROUTE 140_19 complete
ROUTE 140_21 complete
ROUTE 142_12 complete
ROUTE 142_13 complete
ROUTE 145_102 complete
ROUTE 145_105 complete
ROUTE 14C_17 complete
ROUTE 14C_18 complete
ROUTE 14_15 complete
ROUTE 14_16 complete
ROUTE 150_8 complete
ROUTE 150_9 complete
ROUTE 151_15 complete
ROUTE 151_17 complete
ROUTE 15A_83 complete
ROUTE 15A_84 complete
ROUTE 15B_60 complete
ROUTE 15B_61 complete
ROUTE 15D_62 complete
ROUTE 15D_63 complete
ROUTE 15_16 complete
ROUTE 15_17 complete
ROUTE 161_50 complete
ROUTE 161_51 complete
ROUTE 16C_28 complete
ROUTE 16C_29 complete
ROUTE 16D_30 complete
ROUTE 16_20 complete
ROUTE 16_24 complete
ROUTE 17A_15 complete
ROUTE 17A_17 complete
ROUTE 17_10 complete
ROUTE 17_15 complete
ROUTE 184_28 complete
ROUTE 184_29 complete
ROUTE 185_53 complete
ROUTE 185_56 complete
ROUTE 18_3 complete
ROUTE 18_4 complete
ROUTE 1_37 complete
ROUTE 1_40 complete
ROUTE 220_10 complete
ROUTE 220_12 complete
ROUTE 236_10 complete
ROUTE 236_9 complete
ROUTE 238_11 complete
ROUTE 238_15 complete
ROUTE 239_26 complete
ROUTE 239_28 complete
ROUTE 25A_270 complete
ROUTE 25A_273 complete
ROUTE 25B_271 complete
ROUTE 25B_274 complete
ROUTE 25D_275 complete
ROUTE 25D_277 complete
ROUTE 25X_10 complete
ROUTE 25X_11 complete
ROUTE 25_269 complete
ROUTE 25_272 complete
ROUTE 26_28 complete
ROUTE 26_29 complete
ROUTE 270_42 complete
ROUTE 270_44 complete
ROUTE 27A_4 complete
ROUTE 27A_5 complete
ROUTE 27B_23 complete
ROUTE 27B_34 complete
ROUTE 27X_42 complete
ROUTE 27X_43 complete
ROUTE 27_17 complete
ROUTE 27_19 complete
ROUTE 29A_14 complete
ROUTE 29A_15 complete
ROUTE 31A_25 complete
ROUTE 31A_26 complete
ROUTE 31B_44 complete
ROUTE 31B_46 complete
ROUTE 31D_50 complete
ROUTE 31D_51 complete
ROUTE 31_15 complete
ROUTE 31_18 complete
ROUTE 32X_76 complete
ROUTE 32X_77 complete
ROUTE 32_57 complete
ROUTE 32_58 complete
ROUTE 33A_22 complete
ROUTE 33A_25 complete
ROUTE 33B_56 complete
ROUTE 33B_58 complete
ROUTE 33D_61 complete
ROUTE 33D_62 complete
ROUTE 33E_74 complete
ROUTE 33X_46 complete
ROUTE 33X_49 complete
ROUTE 33_44 complete
ROUTE 33_70 complete
ROUTE 37_14 complete
ROUTE 37_15 complete
ROUTE 38A_20 complete
ROUTE 38A_32 complete
ROUTE 38B_40 complete
ROUTE 38B_44 complete
ROUTE 38D_61 complete
ROUTE 38D_68 complete
ROUTE 38_14 complete
ROUTE 38_9 complete
ROUTE 39A_40 complete
ROUTE 39A_43 complete
ROUTE 39X_1 complete
ROUTE 39X_3 complete
ROUTE 39_20 complete
ROUTE 39_21 complete
ROUTE 40B_63 complete
ROUTE 40B_65 complete
ROUTE 40D_102 complete
ROUTE 40D_104 complete
ROUTE 40E_90 complete
ROUTE 40E_91 complete
ROUTE 40_27 complete
ROUTE 40_31 complete
ROUTE 41A_22 complete
ROUTE 41B_52 complete
ROUTE 41B_53 complete
ROUTE 41C_78 complete
ROUTE 41C_79 complete
ROUTE 41D_26 complete
ROUTE 41D_27 complete
ROUTE 41X_121 complete
ROUTE 41X_125 complete
ROUTE 41_3 complete
ROUTE 41_7 complete
ROUTE 42D_50 complete
ROUTE 42D_51 complete
ROUTE 42_42 complete
ROUTE 42_44 complete
ROUTE 43_84 complete
ROUTE 43_88 complete
ROUTE 44B_60 complete
ROUTE 44B_61 complete
ROUTE 44_36 complete
ROUTE 44_40 complete
ROUTE 45A_60 complete
ROUTE 45A_64 complete
ROUTE 46A_67 complete
ROUTE 46A_74 complete
ROUTE 46E_94 complete
ROUTE 47_136 complete
ROUTE 47_139 complete
ROUTE 49_27 complete
ROUTE 49_28 complete
ROUTE 4_10 complete
ROUTE 4_12 complete
ROUTE 51D_50 complete
ROUTE 51D_51 complete
ROUTE 51X_64 complete
ROUTE 53_20 complete
ROUTE 53_21 complete
ROUTE 54A_11 complete
ROUTE 54A_12 complete
ROUTE 56A_30 complete
ROUTE 56A_31 complete
ROUTE 59_10 complete
ROUTE 59_11 complete
ROUTE 61_106 complete
ROUTE 61_108 complete
ROUTE 63_26 complete
ROUTE 63_30 complete
ROUTE 65B_65 complete
ROUTE 65B_66 complete
ROUTE 65_74 complete
ROUTE 65_77 complete
ROUTE 66A_37 complete
ROUTE 66A_38 complete
ROUTE 66B_58 complete
ROUTE 66B_59 complete
ROUTE 66X_102 complete
ROUTE 66X_92 complete
ROUTE 66_17 complete
ROUTE 66_18 complete
ROUTE 67X_43 complete
ROUTE 67X_46 complete
ROUTE 67_4 complete
ROUTE 67_6 complete
ROUTE 68A_86 complete
ROUTE 68A_87 complete
ROUTE 68X_88 complete
ROUTE 68_81 complete
ROUTE 68_83 complete
ROUTE 69X_59 complete
ROUTE 69X_60 complete
ROUTE 69_45 complete
ROUTE 69_47 complete
ROUTE 70D_70 complete
ROUTE 70D_71 complete
ROUTE 70_60 complete
ROUTE 70_67 complete
ROUTE 75_17 complete
ROUTE 75_19 complete
ROUTE 76A_28 complete
ROUTE 76A_29 complete
ROUTE 76_36 complete
ROUTE 76_37 complete
ROUTE 77A_28 complete
ROUTE 77A_29 complete
ROUTE 77X_61 complete
ROUTE 79A_27 complete
ROUTE 79A_28 complete
ROUTE 79_10 complete
ROUTE 79_11 complete
ROUTE 7A_85 complete
ROUTE 7A_87 complete
ROUTE 7B_91 complete
ROUTE 7B_93 complete
ROUTE 7D_120 complete
ROUTE 7D_123 complete
ROUTE 7_70 complete
ROUTE 7_72 complete
ROUTE 83A_17 complete
ROUTE 83A_23 complete
ROUTE 83_16 complete
ROUTE 83_22 complete
ROUTE 84A_1 complete
ROUTE 84A_3 complete
ROUTE 84X_57 complete
ROUTE 84X_62 complete
ROUTE 84_27 complete
ROUTE 84_30 complete
ROUTE 9_5 complete
ROUTE 9_7 complete

In [14]:
# Sort dataframe
proportions_df = proportions_df.sort_values(["ROUTEID", "PROGRNUMBER"])

In [15]:
proportions_df.head()

   LINEID ROUTEID  DIRECTION  PROGRNUMBER STOPPOINTID  STOP_PERCENT
16    102   102_8        1.0          1.0        4381      0.000000
17    102   102_8        1.0          2.0         935      1.059135
20    102   102_8        1.0          3.0         936      1.554126
21    102   102_8        1.0          4.0         913      4.036384
52    102   102_8        1.0          5.0         914      5.107714

In [16]:
proportions_df.shape

(12789, 6)

In [17]:
proportions_df.isna().sum()

LINEID          0
ROUTEID         0
DIRECTION       0
PROGRNUMBER     0
STOPPOINTID     0
STOP_PERCENT    0
dtype: int64

In [18]:
proportions_df.dtypes

LINEID           object
ROUTEID          object
DIRECTION       float64
PROGRNUMBER     float64
STOPPOINTID      object
STOP_PERCENT    float64
dtype: object

In [19]:
# Change encoding for direction to match GTFS data (0 for OB and 1 for IB)
proportions_df["DIRECTION"] = proportions_df["DIRECTION"].astype("int64")
proportions_df["DIRECTION"] = proportions_df["DIRECTION"] - 1

In [20]:
proportions_df["PROGRNUMBER"] = proportions_df["PROGRNUMBER"].astype("int64")

In [22]:
proportions_df.head()

   LINEID ROUTEID  DIRECTION  PROGRNUMBER STOPPOINTID  STOP_PERCENT
16    102   102_8          0            1        4381      0.000000
17    102   102_8          0            2         935      1.059135
20    102   102_8          0            3         936      1.554126
21    102   102_8          0            4         913      4.036384
52    102   102_8          0            5         914      5.107714

In [24]:
# Create function to add contents of dataframe to database
def create_and_fill_table(df):
    meta = MetaData()
    
    table = Table(
        "stop_proportions", meta, 
        Column("LINEID", String(12)),
        Column("ROUTEID", String(12)),
        Column("DIRECTION", Integer),
        Column("PROGRNUMBER", Integer),
        Column("STOPPOINTID", Integer),
        Column("STOP_PERCENT", Float)
    )
    
    meta.create_all(engine)
    df.to_sql("stop_proportions", con=engine, if_exists="append", index=False)

In [25]:
create_and_fill_table(proportions_df)

2021-08-02 23:24:22,625 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-02 23:24:22,631 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-08-02 23:24:22,633 INFO sqlalchemy.engine.Engine [generated in 0.00348s] {'table_schema': 'dubbusdb', 'table_name': 'stop_proportions'}
2021-08-02 23:24:22,641 INFO sqlalchemy.engine.Engine
CREATE TABLE stop_proportions (
	`LINEID` VARCHAR(12),
	`ROUTEID` VARCHAR(12),
	`DIRECTION` INTEGER,
	`PROGRNUMBER` INTEGER,
	`STOPPOINTID` INTEGER,
	`STOP_PERCENT` FLOAT
)


2021-08-02 23:24:22,643 INFO sqlalchemy.engine.Engine [no key 0.00315s] {}
2021-08-02 23:24:22,679 INFO sqlalchemy.engine.Engine COMMIT
2021-08-02 23:24:22,698 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2021-08-02 23:24:22,700 INFO sqlalchemy.engine.Engine [cached since 0.07084s ago] {'table_schema': 'dubbusdb', 'table_name': 'stop_proportions'}
2021-08-02 23:24:22,711 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-08-02 23:24:22,809 INFO sqlalchemy.engine.Engine INSERT INTO stop_proportions (`LINEID`, `ROUTEID`, `DIRECTION`, `PROGRNUMBER`, `STOPPOINTID`, `STOP_PERCENT`) VALUES (%(LINEID)s, %(ROUTEID)s, %(DIRECTION)s, %(PROGRNUMBER)s, %(STOPPOINTID)s, %(STOP_PERCENT)s)
2021-08-02 23:24:22,810 INFO sqlalchemy.engine.Engine [generated in 0.07726s] ({'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 1, 'STOPPOINTID': 4381, 'STOP_PERCENT': 0.0}, {'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 2, 'STOPPOINTID': 935, 'STOP_PERCENT': 1.059135039717564}, {'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 3, 'STOPPOINTID': 936, 'STOP_PERCENT': 1.5541257291364827}, {'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 4, 'STOPPOINTID': 913, 'STOP_PERCENT': 4.036384309266629}, {'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 5, 'STOPPOINTID': 914, 'STOP_PERCENT': 5.1077136900625435}, {'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 6, 'STOPPOINTID': 938, 'STOP_PERCENT': 6.671423474848377}, {'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 7, 'STOPPOINTID': 940, 'STOP_PERCENT': 8.354292681054815}, {'LINEID': '102', 'ROUTEID': '102_8', 'DIRECTION': 0, 'PROGRNUMBER': 8, 'STOPPOINTID': 941, 'STOP_PERCENT': 9.158451180631126}  ... displaying 10 of 12789 total bound parameter sets ...  {'LINEID': '9', 'ROUTEID': '9_7', 'DIRECTION': 1, 'PROGRNUMBER': 67, 'STOPPOINTID': 6229, 'STOP_PERCENT': 98.03488086465242}, {'LINEID': '9', 'ROUTEID': '9_7', 'DIRECTION': 1, 'PROGRNUMBER': 68, 'STOPPOINTID': 7131, 'STOP_PERCENT': 100.0})
2021-08-02 23:24:23,354 INFO sqlalchemy.engine.Engine COMMIT