<p>Here we will check if the subroutes we intend to use for modelling cover the stops on all other subroutes i.e. those that will be excluded. We will check for additional stops for that line in that direction that are not covered by the longest subroute.</p>

In [68]:
import pandas as pd
import sqlite3
import numpy as np

conn = sqlite3.connect("busdata_18.sqlite")
cur = conn.cursor()

In [69]:
# Query database
q = "SELECT * FROM trips_cleaned;"
trips_df = pd.read_sql_query(q, conn)

In [70]:
# trips_df.dropna(inplace=True)

In [71]:
# trips_df contains cleaned data from RT_TRIPS
trips_df.head()

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP
0,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0
1,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN
2,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0
3,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0
4,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0

In [92]:
trips_df.loc[trips_df["LINEID"] == "41X"]

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP
4568,26-SEP-18 00:00:00,7771899,41X,41X_128,2,32327,27900,33703.0,27903.0
6474,20-SEP-18 00:00:00,8095596,41X,41X_121,1,67775,63000,69170.0,63055.0
7711,22-JUN-18 00:00:00,7021056,41X,41X_128,2,32356,27900,32907.0,27909.0
8722,20-SEP-18 00:00:00,8097148,41X,41X_125,2,32159,28200,33794.0,28252.0
8723,20-SEP-18 00:00:00,8096131,41X,41X_125,2,32159,28200,NaN,28410.0
...,...,...,...,...,...,...,...,...,...
2179927,15-MAY-18 00:00:00,6753699,41X,41X_123,1,65940,61200,67377.0,61109.0
2181390,15-MAY-18 00:00:00,6758489,41X,41X_125,2,31373,27600,32205.0,27678.0
2181497,15-MAY-18 00:00:00,6763923,41X,41X_128,2,32251,27900,33734.0,27871.0
2181960,15-MAY-18 00:00:00,6756962,41X,41X_125,2,31973,28200,32440.0,NaN
2182083,15-MAY-18 00:00:00,6758490,41X,41X_122,1,66612,62100,67436.0,62039.0

In [72]:
# Create list of lines
all_lines = trips_df.LINEID.unique().tolist()
all_lines.sort()

In [73]:
print(all_lines)

['1', '102', '104', '11', '111', '114', '116', '118', '120', '122', '123', '13', '130', '14', '140', '142', '145', '14C', '15', '150', '151', '15A', '15B', '15D', '16', '161', '16C', '16D', '17', '17A', '18', '184', '185', '220', '236', '238', '239', '25', '25A', '25B', '25D', '25X', '26', '27', '270', '27A', '27B', '27X', '29A', '31', '31A', '31B', '31D', '32', '32X', '33', '33A', '33B', '33D', '33E', '33X', '37', '38', '38A', '38B', '38D', '39', '39A', '39X', '4', '40', '40B', '40D', '40E', '41', '41A', '41B', '41C', '41D', '41X', '42', '42D', '43', '44', '44B', '45A', '46A', '46E', '47', '49', '51D', '51X', '53', '54A', '56A', '59', '61', '63', '65', '65B', '66', '66A', '66B', '66X', '67', '67X', '68', '68A', '68X', '69', '69X', '7', '70', '70D', '75', '76', '76A', '77A', '77X', '79', '79A', '7A', '7B', '7D', '83', '83A', '84', '84A', '84X', '9']

In [74]:
longest_df = pd.read_csv("~/data/stoptimes/stops_per_main_subroutes.csv")

In [82]:
# longest_df contains stop numbers and sequence per longest subroute per line
longest_df.head()

  LINEID ROUTEID  DIRECTION  PROGRNUMBER  STOPPOINTID
0    102   102_8          1            1         4381
1    102   102_8          1            2          935
2    102   102_8          1            3          936
3    102   102_8          1            4          913
4    102   102_8          1            5          914

In [83]:
# Create list of longest subroutes
longest_subroutes = longest_df.ROUTEID.unique().tolist()
longest_subroutes.sort()

In [84]:
print(longest_subroutes)

['102_8', '102_9', '104_15', '104_16', '111_7', '111_8', '111_9', '114_5', '114_6', '116_1', '116_3', '118_4', '11_40', '11_42', '120_10', '120_11', '120_8', '122_14', '122_16', '122_18', '122_20', '123_34', '123_36', '130_10', '130_11', '13_61', '13_63', '13_67', '13_68', '13_70', '140_19', '140_21', '142_12', '142_13', '145_102', '14C_17', '14C_18', '14_15', '14_16', '150_8', '150_9', '151_15', '151_16', '151_17', '15A_83', '15A_84', '15B_56', '15B_60', '15B_61', '15D_62', '15D_63', '15_16', '15_17', '161_50', '161_51', '16C_28', '16C_29', '16D_30', '16_20', '16_24', '17A_11', '17A_13', '17A_15', '17A_17', '17_10', '17_15', '184_28', '184_29', '185_54', '185_55', '185_59', '185_60', '185_62', '18_3', '18_4', '1_37', '1_40', '220_15', '236_10', '236_9', '238_11', '238_15', '239_26', '239_28', '25A_270', '25A_273', '25B_271', '25B_274', '25D_275', '25D_277', '25X_10', '25X_9', '25_269', '25_272', '26_24', '26_26', '26_28', '26_29', '270_42', '270_44', '27A_4', '27A_7', '27B_23', '27B_34', '27X_42', '27X_43', '27_17', '27_19', '29A_14', '29A_15', '31A_25', '31A_26', '31B_44', '31B_46', '31D_50', '31D_51', '31_17', '31_18', '32X_74', '32X_76', '32X_77', '32_57', '32_58', '33A_22', '33A_25', '33B_56', '33B_58', '33D_61', '33D_62', '33E_74', '33X_46', '33X_47', '33X_49', '33_69', '33_71', '37_14', '37_15', '38A_20', '38A_33', '38B_40', '38B_44', '38D_61', '38D_68', '38_10', '38_15', '39A_40', '39A_43', '39X_1', '39X_2', '39X_3', '39_21', '39_22', '40B_63', '40B_65', '40D_101', '40D_103', '40E_90', '40E_91', '40_27', '40_31', '41A_22', '41B_53', '41C_78', '41C_79', '41C_83', '41D_26', '41D_27', '41X_121', '42D_50', '42D_51', '42_42', '42_44', '43_84', '43_85', '43_88', '43_89', '44B_60', '44B_61', '44_36', '44_40', '45A_67', '45A_69', '46A_67', '46A_74', '46E_93', '46E_94', '47_135', '47_138', '49_27', '49_29', '4_10', '4_12', '4_14', '51D_47', '51D_50', '51D_51', '51X_63', '53_21', '53_22', '54A_11', '54A_12', '56A_30', '56A_31', '59_10', '59_11', '61_107', '61_109', '63_27', '63_31', '65B_65', '65B_66', '65_73', '65_76', '66A_34', '66A_36', '66A_37', '66A_38', '66B_55', '66B_57', '66B_58', '66B_59', '66X_92', '66X_97', '66_11', '66_13', '66_17', '66_18', '67X_41', '67X_43', '67_4', '67_6', '68A_86', '68A_87', '68X_88', '68_82', '69X_59', '69X_60', '69_43', '69_44', '69_45', '69_47', '70D_70', '70D_71', '70_60', '70_67', '75_18', '75_21', '76A_28', '76A_29', '76_36', '76_37', '77A_28', '77A_29', '77A_30', '77A_31', '77X_61', '77X_62', '79A_27', '79A_28', '79_10', '79_11', '7A_86', '7A_87', '7A_89', '7B_91', '7B_93', '7D_120', '7D_123', '7_66', '7_67', '7_70', '7_74', '83A_17', '83A_23', '83_16', '83_22', '84A_2', '84A_4', '84X_53', '84X_57', '84X_61', '84_28', '84_31', '9_5', '9_7']

In [91]:
problematic_routes = []

for route in longest_subroutes:
    line = route.split("_")[0]
    
    longest_subroute_df = longest_df.loc[longest_df["ROUTEID"] == route]
    subroute_direction = longest_subroute_df.iloc[0]["DIRECTION"]
    stops_per_subroute = longest_subroute_df.STOPPOINTID.unique().tolist()
    stops_per_subroute.sort()
    
    line_df = pd.read_csv("~/data/stoptimes/" + line + "_stops.csv")
    merged = line_df.merge(trips_df, how="left", on=["DAYOFSERVICE", "TRIPID"])
    line_subset = merged.loc[merged["DIRECTION"] == subroute_direction]
    stops_per_line = line_subset.STOPPOINTID.unique().tolist()
    stops_per_line.sort()
    
    if stops_per_line == stops_per_subroute:
        print("Subroute", route, "ok")
    else:
        problematic_routes.append(route)
        print("Stops excluded for subroute", route +":", np.setdiff1d(stops_per_line, stops_per_subroute))

Subroute 102_8 ok
Subroute 102_9 ok
Subroute 104_15 ok
Subroute 104_16 ok
Subroute 111_7 ok
Stops excluded for subroute 111_8: [7648]
Stops excluded for subroute 111_9: [7647]
Subroute 114_5 ok
Subroute 114_6 ok
Subroute 116_1 ok
Subroute 116_3 ok
Stops excluded for subroute 118_4: [334 345]
Subroute 11_40 ok
Subroute 11_42 ok
Stops excluded for subroute 120_10: [2809 4495 6071]
Stops excluded for subroute 120_11: [ 273  405 6071]
Stops excluded for subroute 120_8: [6004]
Subroute 122_14 ok
Subroute 122_16 ok
Subroute 122_18 ok
Subroute 122_20 ok
Subroute 123_34 ok
Subroute 123_36 ok
Subroute 130_10 ok
Subroute 130_11 ok
Stops excluded for subroute 13_61: [7230]
Stops excluded for subroute 13_63: [7229]
Stops excluded for subroute 13_67: [ 332 7230]
Stops excluded for subroute 13_68: [1999 7230]
Stops excluded for subroute 13_70: [7229 7602]
Subroute 140_19 ok
Subroute 140_21 ok
Subroute 142_12 ok
Stops excluded for subroute 142_13: [ 336 1283 1285 7579 7581]
Stops excluded for subroute 145_102: [ 767 6000]
Subroute 14C_17 ok
Subroute 14C_18 ok
Subroute 14_15 ok
Stops excluded for subroute 14_16: [254]
Subroute 150_8 ok
Subroute 150_9 ok
Subroute 151_15 ok
Subroute 151_16 ok
Subroute 151_17 ok
Subroute 15A_83 ok
Stops excluded for subroute 15A_84: [350 351 352]
Subroute 15B_56 ok
Subroute 15B_60 ok
Stops excluded for subroute 15B_61: [350 351 352]
Subroute 15D_62 ok
Stops excluded for subroute 15D_63: [350 351 352]
Subroute 15_16 ok
Subroute 15_17 ok
Subroute 161_50 ok
Subroute 161_51 ok
Subroute 16C_28 ok
Stops excluded for subroute 16C_29: [ 208  209  210  211  212  215  216  217  218  219 1641 1642]
Subroute 16D_30 ok
Stops excluded for subroute 16_20: [ 208  209  210  211  212  215  216  217  218  219  226  227  228  229
  230 1641 1642]
Subroute 16_24 ok
Subroute 17A_11 ok
Subroute 17A_13 ok
Subroute 17A_15 ok
Subroute 17A_17 ok
Stops excluded for subroute 17_10: [ 768 2085 2086]
Subroute 17_15 ok
Subroute 184_28 ok
Subroute 184_29 ok
Stops excluded for subroute 185_54: [4199 4422]
Stops excluded for subroute 185_55: [4199 4422]
Stops excluded for subroute 185_59: [4183]
Stops excluded for subroute 185_60: [4183]
Stops excluded for subroute 185_62: [4183]
Subroute 18_3 ok
Subroute 18_4 ok
Subroute 1_37 ok
Subroute 1_40 ok
Stops excluded for subroute 220_15: [1545 1820 2960 4362 4493 4747]
Subroute 236_10 ok
Subroute 236_9 ok
Subroute 238_11 ok
Subroute 238_15 ok
Subroute 239_26 ok
Subroute 239_28 ok
Subroute 25A_270 ok
Subroute 25A_273 ok
Subroute 25B_271 ok
Subroute 25B_274 ok
Subroute 25D_275 ok
Subroute 25D_277 ok
Subroute 25X_10 ok
Stops excluded for subroute 25X_9: [2809 2810 4495]
Subroute 25_269 ok
Subroute 25_272 ok
Subroute 26_24 ok
Subroute 26_26 ok
Subroute 26_28 ok
Subroute 26_29 ok
Subroute 270_42 ok
Subroute 270_44 ok
Subroute 27A_4 ok
Stops excluded for subroute 27A_7: [1791 1792 1793]
Stops excluded for subroute 27B_23: [ 969 1176 1177 1178 1179 1253]
Stops excluded for subroute 27B_34: [1176 1177 1178 1179]
Subroute 27X_42 ok
Subroute 27X_43 ok
Stops excluded for subroute 27_17: [2327 2328 2329 2330 2331 2431 2432 2433]
Stops excluded for subroute 27_19: [395 396 397 398 399 400]
Subroute 29A_14 ok
Subroute 29A_15 ok
Subroute 31A_25 ok
Subroute 31A_26 ok
Subroute 31B_44 ok
Subroute 31B_46 ok
Subroute 31D_50 ok
Subroute 31D_51 ok
Stops excluded for subroute 31_17: [567]
Subroute 31_18 ok
Stops excluded for subroute 32X_74: [2809 2810 4495]
Subroute 32X_76 ok
Stops excluded for subroute 32X_77: [333 403 747]
Subroute 32_57 ok
Subroute 32_58 ok
Subroute 33A_22 ok
Stops excluded for subroute 33A_25: [5064]
Subroute 33B_56 ok
Subroute 33B_58 ok
Subroute 33D_61 ok
Subroute 33D_62 ok
Subroute 33E_74 ok
Subroute 33X_46 ok
Stops excluded for subroute 33X_47: [2809 2810 4495]
Stops excluded for subroute 33X_49: [333 403 747 748]
Stops excluded for subroute 33_69: [3715 3799 3805 3806 3807 3808 3809 5175 7174 7175 7690]
Stops excluded for subroute 33_71: [1174 7205]
Subroute 37_14 ok
Subroute 37_15 ok
Subroute 38A_20 ok
Stops excluded for subroute 38A_33: [1835 1836 1837]
Subroute 38B_40 ok
Subroute 38B_44 ok
Subroute 38D_61 ok
Subroute 38D_68 ok
Stops excluded for subroute 38_10: [1817 1818 1819]
Stops excluded for subroute 38_15: [1835 1836 1837]
Subroute 39A_40 ok
Subroute 39A_43 ok
Subroute 39X_1 ok
Stops excluded for subroute 39X_2: [2809 2810 4495]
Stops excluded for subroute 39X_3: [335 404 748]
Subroute 39_21 ok
Stops excluded for subroute 39_22: [7333]
Stops excluded for subroute 40B_63: [4592]
Subroute 40B_65 ok
Stops excluded for subroute 40D_101: [7559]
Stops excluded for subroute 40D_103: [7560]
Subroute 40E_90 ok
Subroute 40E_91 ok
Stops excluded for subroute 40_27: [ 187  188  189  190  192  819 1531 1532 1591 4542]
Subroute 40_31 ok
Subroute 41A_22 ok
Subroute 41B_53 ok
Subroute 41C_78 ok
Subroute 41C_79 ok
Subroute 41C_83 ok
Subroute 41D_26 ok
Subroute 41D_27 ok
Stops excluded for subroute 41X_121: [3676 5073 7654]
Subroute 42D_50 ok
Subroute 42D_51 ok
Subroute 42_42 ok
Subroute 42_44 ok
Stops excluded for subroute 43_84: [4917 4918 4919]
Stops excluded for subroute 43_85: [1199 6359 7189]
Stops excluded for subroute 43_88: [4923 4924 4958]
Stops excluded for subroute 43_89: [4433 5044 7329]
Subroute 44B_60 ok
Subroute 44B_61 ok
Subroute 44_36 ok
Subroute 44_40 ok
Stops excluded for subroute 45A_67: [4137 4138]
Stops excluded for subroute 45A_69: [4145 4146 4148 4304]
Stops excluded for subroute 46A_67: [4962]
Stops excluded for subroute 46A_74: [ 767 4962]
Subroute 46E_93 ok
Subroute 46E_94 ok
Stops excluded for subroute 47_135: [ 461 2068 2069 2070 7529]
Stops excluded for subroute 47_138: [ 435 2009 2010]
Subroute 49_27 ok
Stops excluded for subroute 49_29: [4342 4348]
Subroute 4_10 ok
Subroute 4_12 ok
Subroute 4_14 ok
Stops excluded for subroute 51D_47: [2809 2810 2811 4495]
Subroute 51D_50 ok
Stops excluded for subroute 51D_51: [336 404 747 748]
Stops excluded for subroute 51X_63: [2809 2810 4495]
Subroute 53_21 ok
Stops excluded for subroute 53_22: [1184]
Subroute 54A_11 ok
Subroute 54A_12 ok
Subroute 56A_30 ok
Subroute 56A_31 ok
Subroute 59_10 ok
Subroute 59_11 ok
Subroute 61_107 ok
Subroute 61_109 ok
Stops excluded for subroute 63_27: [3306 3309 4772 7360]
Stops excluded for subroute 63_31: [3307 3312 4771 7360]
Subroute 65B_65 ok
Subroute 65B_66 ok
Stops excluded for subroute 65_73: [7207 7278 7282 7283 7286 7288 7289]
Stops excluded for subroute 65_76: [5111 7208 7280 7281 7284 7287 7289]
Subroute 66A_34 ok
Subroute 66A_36 ok
Subroute 66A_37 ok
Subroute 66A_38 ok
Subroute 66B_55 ok
Subroute 66B_57 ok
Subroute 66B_58 ok
Subroute 66B_59 ok
Stops excluded for subroute 66X_92: [3993 3994 4002 4003 5112 7234]
Stops excluded for subroute 66X_97: [2809 2810 3987 3989 3990 3994 3995 3996 4003 4404 4405 4495]
Subroute 66_11 ok
Subroute 66_13 ok
Subroute 66_17 ok
Subroute 66_18 ok
Stops excluded for subroute 67X_41: [2809 2810 3112 3924 3927 3928 3929 4495 7110]
Stops excluded for subroute 67X_43: [3906 3907 3909 5118]
Subroute 67_4 ok
Subroute 67_6 ok
Subroute 68A_86 ok
Subroute 68A_87 ok
Subroute 68X_88 ok
Stops excluded for subroute 68_82: [1471 1472 1473 1972 1973 1974 1990 1992 4408 7483]
Subroute 69X_59 ok
Subroute 69X_60 ok
Subroute 69_43 ok
Subroute 69_44 ok
Subroute 69_45 ok
Subroute 69_47 ok
Subroute 70D_70 ok
Subroute 70D_71 ok
Subroute 70_60 ok
Subroute 70_67 ok
Subroute 75_18 ok
Subroute 75_21 ok
Subroute 76A_28 ok
Subroute 76A_29 ok
Subroute 76_36 ok
Subroute 76_37 ok
Subroute 77A_28 ok
Subroute 77A_29 ok
Subroute 77A_30 ok
Subroute 77A_31 ok
Subroute 77X_61 ok
Subroute 77X_62 ok
Subroute 79A_27 ok
Subroute 79A_28 ok
Subroute 79_10 ok
Subroute 79_11 ok
Stops excluded for subroute 7A_86: [4962]
Subroute 7A_87 ok
Subroute 7A_89 ok
Subroute 7B_91 ok
Subroute 7B_93 ok
Subroute 7D_120 ok
Stops excluded for subroute 7D_123: [ 461  768  769  773  774  775  776  777  786  792  906  907  908  909
 2023 2024 2025 2068 2069 2070 2084 3059 3060 3061 3062 3063 3064 3065
 3066 3067 3202 3203 3204 3345 4568 4569 4727 4728 6086 7419 7420 7555
 7586 7658]
Stops excluded for subroute 7_66: [1174]
Stops excluded for subroute 7_67: [4962]
Subroute 7_70 ok
Subroute 7_74 ok
Stops excluded for subroute 83A_17: [7132]
Stops excluded for subroute 83A_23: [7131]

Stops excluded for subroute 83_16: [7132]
Stops excluded for subroute 83_22: [7131]
Stops excluded for subroute 84A_2: [3082 7188]
Stops excluded for subroute 84A_4: [3081 4678 7188 7639 7640]
Stops excluded for subroute 84X_53: [ 303 4307 4308]
Stops excluded for subroute 84X_57: [4952 4956 6137]
Stops excluded for subroute 84X_61: [ 317  791 4307 4308]
Subroute 84_28 ok
Stops excluded for subroute 84_31: [4678]
Subroute 9_5 ok
Stops excluded for subroute 9_7: [2458]