In [1]:
import pandas as pd
import sqlite3
from collections import Counter
import numpy as np

conn = sqlite3.connect("busdata_18.sqlite")
cur = conn.cursor()

q = "SELECT DISTINCT(LINEID) FROM trips_cleaned;"
lines = pd.read_sql_query(q, conn)

In [2]:
lines.head()

  LINEID
0     68
1    25B
2    45A
3    25A
4     14

In [3]:
unique_LINEID_list = lines.LINEID.tolist()

In [4]:
unique_LINEID_list.sort()

In [5]:
print(unique_LINEID_list)

['1', '102', '104', '11', '111', '114', '116', '118', '120', '122', '123', '13', '130', '14', '140', '142', '145', '14C', '15', '150', '151', '15A', '15B', '15D', '16', '161', '16C', '16D', '17', '17A', '18', '184', '185', '220', '236', '238', '239', '25', '25A', '25B', '25D', '25X', '26', '27', '270', '27A', '27B', '27X', '29A', '31', '31A', '31B', '31D', '32', '32X', '33', '33A', '33B', '33D', '33E', '33X', '37', '38', '38A', '38B', '38D', '39', '39A', '39X', '4', '40', '40B', '40D', '40E', '41', '41A', '41B', '41C', '41D', '41X', '42', '42D', '43', '44', '44B', '45A', '46A', '46E', '47', '49', '51D', '51X', '53', '54A', '56A', '59', '61', '63', '65', '65B', '66', '66A', '66B', '66X', '67', '67X', '68', '68A', '68X', '69', '69X', '7', '70', '70D', '75', '76', '76A', '77A', '77X', '79', '79A', '7A', '7B', '7D', '83', '83A', '84', '84A', '84X', '9']

In [6]:
def find_stops_per_route(LINEID):
    trips_result = cur.execute("SELECT DISTINCT(TRIPID) FROM trips_cleaned WHERE LINEID=?;", (LINEID,))
    trips_df = pd.DataFrame(trips_result.fetchall(), columns=["TRIPID"])
    unique_TRIPID_list = trips_df.TRIPID.tolist()
    print("Found trips for", LINEID)
    
    q = "SELECT DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR AS PLANNEDARR_STOP, PLANNEDTIME_DEP AS PLANNEDDEP_STOP, ACTUALTIME_ARR AS ACTUALARR_STOP, ACTUALTIME_DEP AS ACTUALDEP_STOP from leavetimes_cleaned where TRIPID in ({trip_list})".format(trip_list=','.join(["?"]*len(unique_TRIPID_list)))
    leavetimes_result = cur.execute(q, unique_TRIPID_list)
    line_df = pd.DataFrame(leavetimes_result.fetchall(), columns=["DAYOFSERVICE", "TRIPID", "PROGRNUMBER", "STOPPOINTID", "PLANNEDDEP_STOP", "PLANNEDARR_STOP", "ACTUALARR_STOP", "ACTUALDEP_STOP"])
    print("Found stops for", LINEID)
    line_df.to_csv("~/data/stoptimes/" + LINEID + "_stops.csv", index=False)

In [9]:
for line in unique_LINEID_list:
    find_stops_per_route(line)

Found trips for 1
Found stops for 1
Found trips for 102
Found stops for 102
Found trips for 104
Found stops for 104
Found trips for 11
Found stops for 11
Found trips for 111
Found stops for 111
Found trips for 114
Found stops for 114
Found trips for 116
Found stops for 116
Found trips for 118
Found stops for 118
Found trips for 120
Found stops for 120
Found trips for 122
Found stops for 122
Found trips for 123
Found stops for 123
Found trips for 13
Found stops for 13
Found trips for 130
Found stops for 130
Found trips for 14
Found stops for 14
Found trips for 140
Found stops for 140
Found trips for 142
Found stops for 142
Found trips for 145
Found stops for 145
Found trips for 14C
Found stops for 14C
Found trips for 15
Found stops for 15
Found trips for 150
Found stops for 150
Found trips for 151
Found stops for 151
Found trips for 15A
Found stops for 15A
Found trips for 15B
Found stops for 15B
Found trips for 15D
Found stops for 15D
Found trips for 16
Found stops for 16
Found trips for 161
Found stops for 161
Found trips for 16C
Found stops for 16C
Found trips for 16D
Found stops for 16D
Found trips for 17
Found stops for 17
Found trips for 17A
Found stops for 17A
Found trips for 18
Found stops for 18
Found trips for 184
Found stops for 184
Found trips for 185
Found stops for 185
Found trips for 220
Found stops for 220
Found trips for 236
Found stops for 236
Found trips for 238
Found stops for 238
Found trips for 239
Found stops for 239
Found trips for 25
Found stops for 25
Found trips for 25A
Found stops for 25A
Found trips for 25B
Found stops for 25B
Found trips for 25D
Found stops for 25D
Found trips for 25X
Found stops for 25X
Found trips for 26
Found stops for 26
Found trips for 27
Found stops for 27
Found trips for 270
Found stops for 270
Found trips for 27A
Found stops for 27A
Found trips for 27B
Found stops for 27B
Found trips for 27X
Found stops for 27X
Found trips for 29A
Found stops for 29A
Found trips for 31
Found stops for 31
Found trips for 31A
Found stops for 31A
Found trips for 31B
Found stops for 31B
Found trips for 31D
Found stops for 31D
Found trips for 32
Found stops for 32
Found trips for 32X
Found stops for 32X
Found trips for 33
Found stops for 33
Found trips for 33A
Found stops for 33A
Found trips for 33B
Found stops for 33B
Found trips for 33D
Found stops for 33D
Found trips for 33E
Found stops for 33E
Found trips for 33X
Found stops for 33X
Found trips for 37
Found stops for 37
Found trips for 38
Found stops for 38
Found trips for 38A
Found stops for 38A
Found trips for 38B
Found stops for 38B
Found trips for 38D
Found stops for 38D
Found trips for 39
Found stops for 39
Found trips for 39A
Found stops for 39A
Found trips for 39X
Found stops for 39X
Found trips for 4
Found stops for 4
Found trips for 40
Found stops for 40
Found trips for 40B
Found stops for 40B
Found trips for 40D
Found stops for 40D
Found trips for 40E
Found stops for 40E
Found trips for 41
Found stops for 41
Found trips for 41A
Found stops for 41A
Found trips for 41B
Found stops for 41B
Found trips for 41C
Found stops for 41C
Found trips for 41D
Found stops for 41D
Found trips for 41X
Found stops for 41X
Found trips for 42
Found stops for 42
Found trips for 42D
Found stops for 42D
Found trips for 43
Found stops for 43
Found trips for 44
Found stops for 44
Found trips for 44B
Found stops for 44B
Found trips for 45A
Found stops for 45A
Found trips for 46A
Found stops for 46A
Found trips for 46E
Found stops for 46E
Found trips for 47
Found stops for 47
Found trips for 49
Found stops for 49
Found trips for 51D
Found stops for 51D
Found trips for 51X
Found stops for 51X
Found trips for 53
Found stops for 53
Found trips for 54A
Found stops for 54A
Found trips for 56A
Found stops for 56A
Found trips for 59
Found stops for 59
Found trips for 61
Found stops for 61
Found trips for 63
Found stops for 63
Found trips for 65
Found stops for 65
Found trips for 65B
Found stops for 65B
Found trips for 66
Found stops for 66
Found trips for 66A
Found stops for 66A
Found trips for 66B
Found stops for 66B
Found trips for 66X
Found stops for 66X
Found trips for 67
Found stops for 67
Found trips for 67X
Found stops for 67X
Found trips for 68
Found stops for 68
Found trips for 68A
Found stops for 68A
Found trips for 68X
Found stops for 68X
Found trips for 69
Found stops for 69
Found trips for 69X
Found stops for 69X
Found trips for 7
Found stops for 7
Found trips for 70
Found stops for 70
Found trips for 70D
Found stops for 70D
Found trips for 75
Found stops for 75
Found trips for 76
Found stops for 76
Found trips for 76A
Found stops for 76A
Found trips for 77A
Found stops for 77A
Found trips for 77X
Found stops for 77X
Found trips for 79
Found stops for 79
Found trips for 79A
Found stops for 79A
Found trips for 7A
Found stops for 7A
Found trips for 7B
Found stops for 7B
Found trips for 7D
Found stops for 7D
Found trips for 83
Found stops for 83
Found trips for 83A
Found stops for 83A
Found trips for 84
Found stops for 84
Found trips for 84A
Found stops for 84A
Found trips for 84X
Found stops for 84X
Found trips for 9
Found stops for 9

<h4>Find longest subroutes</h4>

In [36]:
q = "SELECT * FROM trips_cleaned;"
trips_df = pd.read_sql_query(q, conn)

In [7]:
trips_df.head()

,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP
0,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0
1,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN
2,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0
3,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0
4,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0

In [27]:
longest_ob_subroutes = []

for line in unique_LINEID_list:   
    print(line)
    current_line_df = pd.read_csv("~/data/stoptimes/" + line + "_stops.csv")
    merged = current_line_df.merge(trips_df, how="left", on=["DAYOFSERVICE", "TRIPID"])
    
    ob_routes_df = merged.loc[merged["DIRECTION"] == 1]
    ob_routes_list = ob_routes_df.ROUTEID.unique().tolist()
    
    route_lengths = {}

    for route in ob_routes_list:
        current_route_df = ob_routes_df.loc[(ob_routes_df["ROUTEID"] == route)]
        num_stops = current_route_df.STOPPOINTID.nunique()
        route_lengths[route] = num_stops
        
    print(route_lengths)
    
    if route_lengths == {}:
        pass
    else:       
        max_length_route = max(route_lengths.items(), key=lambda x: x[1])
        routes = []

        for key, value in route_lengths.items():
            if value == max_length_route[1]:
                routes.append(key)
    
        print(routes)
        for route in routes:
            longest_ob_subroutes.append(route)

1
{'1_37': 42, '1_39': 23, '1_38': 21}
['1_37']
102
{'102_8': 53}
['102_8']
104
{'104_15': 36}
['104_15']
11
{'11_40': 61, '11_41': 21}
['11_40']
111
{'111_7': 46}
['111_7']
114
{'114_5': 29}
['114_5']
116
{'116_1': 50}
['116_1']
118
{}
120
{'120_7': 26, '120_8': 37, '120_12': 26}
['120_8']
122
{'122_14': 50, '122_15': 21, '122_18': 50, '122_19': 21}
['122_14', '122_18']
123
{'123_34': 44, '123_35': 29}
['123_34']
13
{'13_60': 90, '13_65': 87, '13_61': 91, '13_66': 88, '13_63': 91, '13_64': 33, '13_62': 90, '13_28': 32}
['13_61', '13_63']
130
{'130_10': 39}
['130_10']
14
{'14_15': 76}
['14_15']
140
{'140_19': 44, '140_20': 27, '140_16': 26}
['140_19']
142
{'142_8': 20, '142_10': 53, '142_13': 55}
['142_13']
145
{'145_102': 70, '145_95': 23, '145_104': 51, '145_94': 60, '145_99': 48, '145_107': 64}
['145_102']
14C
{'14C_17': 30}
['14C_17']
15
{'15_16': 71, '15_10': 35, '15_19': 70, '15_20': 34}
['15_16']
150
{'150_8': 35}
['150_8']
151
{'151_15': 50, '151_16': 50}
['151_15', '151_16']
15A
{'15A_83': 39}
['15A_83']
15B
{'15B_60': 49, '15B_56': 49}
['15B_60', '15B_56']
15D
{'15D_62': 42}
['15D_62']
16
{'16_20': 77, '16_21': 63, '16_23': 62, '16_22': 60}
['16_20']
161
{'161_50': 28}
['161_50']
16C
{'16C_29': 36, '16C_26': 20, '16C_27': 23}
['16C_29']
16D
{'16D_30': 72}
['16D_30']
17
{'17_10': 69, '17_19': 50, '17_13': 56, '17_14': 59, '17_11': 66, '17_12': 14}
['17_10']
17A
{'17A_11': 61, '17A_12': 60, '17A_15': 61, '17A_16': 60}
['17A_11', '17A_15']
18
{'18_3': 64}
['18_3']
184
{'184_29': 44}
['184_29']
185
{'185_55': 26, '185_53': 20, '185_52': 16, '185_50': 20, '185_54': 26, '185_51': 8}
['185_55', '185_54']
220
{'220_10': 84, '220_14': 85}
['220_14']
236
{'236_9': 25}
['236_9']
238
{'238_11': 22, '238_12': 17}
['238_11']
239
{'239_26': 33}
['239_26']
25
{'25_272': 42}
['25_272']
25A
{'25A_273': 41}
['25A_273']
25B
{'25B_274': 40}
['25B_274']
25D
{'25D_277': 31}
['25D_277']
25X
{'25X_7': 48, '25X_10': 50}
['25X_10']
26
{'26_24': 29, '26_28': 29}
['26_24', '26_28']
27
{'27_19': 90, '27_20': 40, '27_12': 54}
['27_19']
270
{'270_42': 17}
['270_42']
27A
{'27A_4': 40}
['27A_4']
27B
{'27B_23': 46, '27B_40': 45, '27B_26': 33, '27B_27': 33, '27B_25': 39}
['27B_23']
27X
{'27X_43': 46}
['27X_43']
29A
{'29A_14': 45}
['29A_14']
31
{'31_15': 54, '31_17': 70, '31_16': 45}
['31_17']
31A
{'31A_25': 74}
['31A_25']
31B
{'31B_44': 68}
['31B_44']
31D
{'31D_50': 32}
['31D_50']
32
{'32_57': 57}
['32_57']
32X
{'32X_74': 45, '32X_77': 45}
['32X_74', '32X_77']
33
{'33_44': 98, '33_45': 91, '33_69': 103}
['33_69']
33A
{'33A_22': 64, '33A_23': 57}
['33A_22']
33B
{'33B_56': 22, '33B_57': 12}
['33B_56']
33D
{'33D_61': 23}
['33D_61']
33E
{'33E_74': 108}
['33E_74']
33X
{'33X_46': 67, '33X_48': 59}
['33X_46']
37
{'37_14': 60}
['37_14']
38
{'38_9': 56, '38_10': 61}
['38_10']
38A
{'38A_20': 46}
['38A_20']
38B
{'38B_40': 50}
['38B_40']
38D
{'38D_68': 31}
['38D_68']
39
{'39_20': 71, '39_22': 86}
['39_22']
39A
{'39A_40': 74, '39A_41': 26, '39A_44': 49}
['39A_40']
39X
{'39X_1': 27}
['39X_1']
4
{'4_10': 61, '4_11': 25}
['4_10']
40
{'40_27': 81, '40_28': 36, '40_30': 77, '40_29': 32}
['40_27']
40B
{'40B_63': 39, '40B_64': 22}
['40B_63']
40D
{'40D_101': 46, '40D_102': 45, '40D_105': 45}
['40D_101']
40E
{'40E_90': 32}
['40E_90']
41
{'41_3': 51, '41_20': 47, '41_4': 43, '41_5': 40, '41_21': 50, '41_6': 50, '41_22': 52}
['41_22']
41A
{}
41B
{'41B_52': 49, '41B_51': 49, '41B_58': 56}
['41B_58']
41C
{'41C_78': 60, '41C_83': 60}
['41C_78', '41C_83']
41D
{'41D_26': 40}
['41D_26']
41X
{'41X_116': 51, '41X_117': 41, '41X_118': 50, '41X_121': 52, '41X_123': 50, '41X_122': 41, '41X_130': 39, '41X_129': 48, '41X_131': 43}
['41X_121']
42
{'42_42': 56}
['42_42']
42D
{'42D_50': 32}
['42D_50']
43
{'43_85': 51, '43_84': 51}
['43_85', '43_84']
44
{'44_38': 80, '44_40': 82, '44_39': 62}
['44_40']
44B
{'44B_60': 29}
['44B_60']
45A
{'45A_68': 57, '45A_60': 57, '45A_67': 61}
['45A_67']
46A
{'46A_74': 59, '46A_68': 47, '46A_70': 45, '46A_69': 32, '46A_73': 15, '46A_72': 48, '46A_71': 32}
['46A_74']
46E
{}
47
{'47_139': 52, '47_137': 27, '47_138': 56}
['47_138']
49
{'49_27': 44}
['49_27']
51D
{'51D_50': 43}
['51D_50']
51X
{}
53
{'53_20': 22, '53_22': 28, '53_23': 22}
['53_22']
54A
{'54A_11': 45}
['54A_11']
56A
{'56A_31': 55}
['56A_31']
59
{'59_10': 24}
['59_10']
61
{'61_106': 48, '61_107': 55}
['61_107']
63
{'63_25': 42, '63_26': 43, '63_27': 52}
['63_27']
65
{'65_72': 83, '65_74': 74, '65_73': 85}
['65_73']
65B
{'65B_65': 59}
['65B_65']
66
{'66_11': 59, '66_16': 54, '66_17': 59}
['66_11', '66_17']
66A
{'66A_34': 48, '66A_37': 48}
['66A_34', '66A_37']
66B
{'66B_55': 52, '66B_58': 52}
['66B_55', '66B_58']
66X
{'66X_92': 63, '66X_93': 53, '66X_95': 50, '66X_94': 36}
['66X_92']
67
{'67_4': 69}
['67_4']
67X
{'67X_38': 70, '67X_40': 43, '67X_39': 67, '67X_44': 69, '67X_43': 71, '67X_45': 43}
['67X_43']
68
{'68_80': 71, '68_81': 76, '68_79': 73, '68_78': 76}
['68_81', '68_78']
68A
{'68A_86': 23}
['68A_86']
68X
{}
69
{'69_43': 57, '69_45': 57}
['69_43', '69_45']
69X
{'69X_59': 21}
['69X_59']
7
{'7_66': 56, '7_67': 56, '7_72': 55, '7_73': 55}
['7_66', '7_67']
70
{'70_60': 47}
['70_60']
70D
{'70D_70': 36}
['70D_70']
75
{'75_17': 79, '75_18': 88}
['75_18']
76
{'76_36': 34}
['76_36']
76A
{'76A_28': 43}
['76A_28']
77A
{'77A_29': 73, '77A_30': 73}
['77A_29', '77A_30']
77X
{}
79
{'79_10': 32}
['79_10']
79A
{'79A_27': 33}
['79A_27']
7A
{'7A_85': 61, '7A_86': 62}
['7A_86']
7B
{'7B_91': 53}
['7B_91']
7D
{'7D_120': 50}
['7D_120']
83
{'83_19': 62, '83_16': 68, '83_18': 39, '83_21': 33, '83_28': 37, '83_29': 32}
['83_16']
83A
{'83A_20': 61, '83A_17': 71}
['83A_17']
84
{'84_27': 87, '84_28': 90, '84_29': 47}
['84_28']
84A
{'84A_1': 40, '84A_2': 46}
['84A_2']
84X
{'84X_56': 35, '84X_57': 37, '84X_60': 29, '84X_58': 29, '84X_65': 35, '84X_64': 34}
['84X_57']
9
{'9_5': 66, '9_6': 33}
['9_5']

In [28]:
print(longest_ob_subroutes)

['1_37', '102_8', '104_15', '11_40', '111_7', '114_5', '116_1', '120_8', '122_14', '122_18', '123_34', '13_61', '13_63', '130_10', '14_15', '140_19', '142_13', '145_102', '14C_17', '15_16', '150_8', '151_15', '151_16', '15A_83', '15B_60', '15B_56', '15D_62', '16_20', '161_50', '16C_29', '16D_30', '17_10', '17A_11', '17A_15', '18_3', '184_29', '185_55', '185_54', '220_14', '236_9', '238_11', '239_26', '25_272', '25A_273', '25B_274', '25D_277', '25X_10', '26_24', '26_28', '27_19', '270_42', '27A_4', '27B_23', '27X_43', '29A_14', '31_17', '31A_25', '31B_44', '31D_50', '32_57', '32X_74', '32X_77', '33_69', '33A_22', '33B_56', '33D_61', '33E_74', '33X_46', '37_14', '38_10', '38A_20', '38B_40', '38D_68', '39_22', '39A_40', '39X_1', '4_10', '40_27', '40B_63', '40D_101', '40E_90', '41_22', '41B_58', '41C_78', '41C_83', '41D_26', '41X_121', '42_42', '42D_50', '43_85', '43_84', '44_40', '44B_60', '45A_67', '46A_74', '47_138', '49_27', '51D_50', '53_22', '54A_11', '56A_31', '59_10', '61_107', '63_27', '65_73', '65B_65', '66_11', '66_17', '66A_34', '66A_37', '66B_55', '66B_58', '66X_92', '67_4', '67X_43', '68_81', '68_78', '68A_86', '69_43', '69_45', '69X_59', '7_66', '7_67', '70_60', '70D_70', '75_18', '76_36', '76A_28', '77A_29', '77A_30', '79_10', '79A_27', '7A_86', '7B_91', '7D_120', '83_16', '83A_17', '84_28', '84A_2', '84X_57', '9_5']

In [29]:
file = open("stoptimes/longest_ob_subroutes.txt", "w")
for element in longest_ob_subroutes:
    file.write(element + "\n")
file.close()

print("Write successful")

Write successful

In [30]:
longest_ib_subroutes = []

for line in unique_LINEID_list:   
    print(line)
    current_line_df = pd.read_csv("~/data/stoptimes/" + line + "_stops.csv")
    merged = current_line_df.merge(trips_df, how="left", on=["DAYOFSERVICE", "TRIPID"])
    
    ib_routes_df = merged.loc[merged["DIRECTION"] == 2]
    ib_routes_list = ib_routes_df.ROUTEID.unique().tolist()
    
    route_lengths = {}

    for route in ib_routes_list:
        current_route_df = ib_routes_df.loc[(ib_routes_df["ROUTEID"] == route)]
        num_stops = current_route_df.STOPPOINTID.nunique()
        route_lengths[route] = num_stops
        
    print(route_lengths)
    
    if route_lengths == {}:
        pass
    else:       
        max_length_route = max(route_lengths.items(), key=lambda x: x[1])
        routes = []

        for key, value in route_lengths.items():
            if value == max_length_route[1]:
                routes.append(key)
    
        print(routes)
        for route in routes:
            longest_ib_subroutes.append(route)

1
{'1_40': 43, '1_41': 22}
['1_40']
102
{'102_10': 31, '102_9': 54}
['102_9']
104
{'104_16': 36}
['104_16']
11
{'11_42': 66, '11_43': 43}
['11_42']
111
{'111_8': 48, '111_9': 48, '111_10': 15}
['111_8', '111_9']
114
{'114_6': 29}
['114_6']
116
{'116_3': 65}
['116_3']
118
{'118_3': 43, '118_4': 44}
['118_4']
120
{'120_9': 24, '120_10': 34, '120_11': 34, '120_13': 24}
['120_10', '120_11']
122
{'122_16': 52, '122_17': 30, '122_20': 52, '122_21': 30}
['122_16', '122_20']
123
{'123_36': 47, '123_37': 17}
['123_36']
13
{'13_67': 90, '13_71': 55, '13_68': 90, '13_73': 87, '13_76': 54, '13_70': 90, '13_69': 89, '13_72': 86, '13_75': 36, '13_74': 87}
['13_67', '13_68', '13_70']
130
{'130_11': 38}
['130_11']
14
{'14_16': 75, '14_12': 30, '14_13': 69}
['14_16']
140
{'140_21': 47, '140_22': 19}
['140_21']
142
{'142_9': 17, '142_12': 49}
['142_12']
145
{'145_105': 74, '145_91': 58, '145_93': 74, '145_88': 65, '145_106': 69, '145_89': 39, '145_87': 22, '145_86': 27, '145_108': 49}
['145_105', '145_93']
14C
{'14C_18': 47, '14C_10': 41}
['14C_18']
15
{'15_17': 71, '15_18': 38}
['15_17']
150
{'150_9': 38, '150_10': 36}
['150_9']
151
{'151_17': 51, '151_18': 50, '151_19': 42}
['151_17']
15A
{'15A_84': 41, '15A_85': 39}
['15A_84']
15B
{'15B_61': 50, '15B_64': 48}
['15B_61']
15D
{'15D_63': 45, '15D_65': 43}
['15D_63']
16
{'16_24': 75}
['16_24']
161
{'161_51': 31, '161_52': 20}
['161_51']
16C
{'16C_28': 45}
['16C_28']
16D
{}
17
{'17_17': 56, '17_15': 68, '17_18': 56, '17_16': 65}
['17_15']
17A
{'17A_13': 60, '17A_14': 59, '17A_17': 60, '17A_18': 59}
['17A_13', '17A_17']
18
{'18_4': 62, '18_5': 51}
['18_4']
184
{'184_28': 45}
['184_28']
185
{'185_59': 24, '185_56': 18, '185_58': 18, '185_57': 7, '185_62': 24, '185_61': 13, '185_60': 24, '185_63': 15}
['185_59', '185_62', '185_60']
220
{'220_12': 80, '220_15': 81}
['220_15']
236
{'236_10': 25}
['236_10']
238
{'238_15': 25}
['238_15']
239
{'239_28': 30}
['239_28']
25
{'25_269': 41}
['25_269']
25A
{'25A_270': 40}
['25A_270']
25B
{'25B_271': 40, '25B_276': 29}
['25B_271']
25D
{'25D_275': 30}
['25D_275']
25X
{'25X_5': 42, '25X_9': 44, '25X_11': 41, '25X_12': 43}
['25X_9']
26
{'26_26': 26, '26_27': 18, '26_29': 26}
['26_26', '26_29']
27
{'27_17': 90, '27_9': 48, '27_18': 43, '27_21': 51}
['27_17']
270
{'270_44': 18}
['270_44']
27A
{'27A_5': 39, '27A_6': 36, '27A_7': 42}
['27A_7']
27B
{'27B_34': 51, '27B_35': 49, '27B_39': 31, '27B_36': 39, '27B_38': 28, '27B_37': 34}
['27B_34']
27X
{'27X_42': 47}
['27X_42']
29A
{'29A_15': 46}
['29A_15']
31
{'31_18': 55}
['31_18']
31A
{'31A_26': 74}
['31A_26']
31B
{'31B_46': 76, '31B_45': 54}
['31B_46']
31D
{'31D_51': 36}
['31D_51']
32
{'32_58': 59}
['32_58']
32X
{'32X_76': 55}
['32X_76']
33
{'33_70': 103, '33_72': 95, '33_71': 102, '33_73': 100}
['33_70']
33A
{'33A_25': 63, '33A_27': 8, '33A_26': 55}
['33A_25']
33B
{'33B_58': 26, '33B_60': 25, '33B_59': 16}
['33B_58']
33D
{'33D_62': 24, '33D_76': 19}
['33D_62']
33E
{}
33X
{'33X_47': 56, '33X_49': 55}
['33X_47']
37
{'37_15': 60, '37_13': 53}
['37_15']
38
{'38_14': 61, '38_15': 67, '38_13': 49}
['38_15']
38A
{'38A_32': 56, '38A_33': 62, '38A_23': 44}
['38A_33']
38B
{'38B_45': 41, '38B_44': 52}
['38B_44']
38D
{'38D_61': 37}
['38D_61']
39
{'39_21': 78, '39_23': 67}
['39_21']
39A
{'39A_43': 71, '39A_42': 50, '39A_45': 59}
['39A_43']
39X
{'39X_2': 26, '39X_3': 26}
['39X_2', '39X_3']
4
{'4_12': 61, '4_13': 35, '4_14': 61}
['4_12', '4_14']
40
{'40_31': 84, '40_32': 44, '40_33': 41}
['40_31']
40B
{'40B_65': 40}
['40B_65']
40D
{'40D_103': 44, '40D_104': 42, '40D_106': 43}
['40D_103']
40E
{'40E_91': 27}
['40E_91']
41
{'41_7': 56, '41_9': 42, '41_8': 53, '41_10': 32, '41_24': 39, '41_25': 59}
['41_25']
41A
{'41A_22': 55}
['41A_22']
41B
{'41B_53': 48}
['41B_53']
41C
{'41C_79': 61, '41C_80': 42, '41C_84': 60}
['41C_79']
41D
{'41D_27': 42}
['41D_27']
41X
{'41X_110': 38, '41X_120': 38, '41X_119': 32, '41X_109': 28, '41X_108': 31, '41X_125': 30, '41X_124': 33, '41X_128': 39, '41X_127': 32, '41X_126': 39}
['41X_128', '41X_126']
42
{'42_44': 65}
['42_44']
42D
{'42D_51': 32}
['42D_51']
43
{'43_89': 51, '43_88': 51}
['43_89', '43_88']
44
{'44_35': 75, '44_36': 81, '44_33': 35}
['44_36']
44B
{'44B_61': 26}
['44B_61']
45A
{'45A_70': 62, '45A_64': 61, '45A_69': 65}
['45A_69']
46A
{'46A_67': 67, '46A_66': 46, '46A_63': 45, '46A_77': 48, '46A_64': 35, '46A_65': 18, '46A_62': 33}
['46A_67']
46E
{'46E_93': 38, '46E_94': 38}
['46E_93', '46E_94']
47
{'47_136': 53, '47_135': 55}
['47_135']
49
{'49_28': 47, '49_29': 48}
['49_29']
51D
{'51D_47': 50, '51D_51': 50}
['51D_47', '51D_51']
51X
{'51X_63': 49, '51X_64': 48}
['51X_63']
53
{'53_21': 18}
['53_21']
54A
{'54A_12': 44}
['54A_12']
56A
{'56A_30': 53}
['56A_30']
59
{'59_11': 26}
['59_11']
61
{'61_108': 49, '61_109': 60}
['61_109']
63
{'63_28': 37, '63_30': 38, '63_29': 14, '63_31': 46}
['63_31']
65
{'65_75': 85, '65_77': 77, '65_76': 88}
['65_76']
65B
{'65B_66': 58}
['65B_66']
66
{'66_13': 53, '66_14': 47, '66_18': 53}
['66_13', '66_18']
66A
{'66A_36': 46, '66A_38': 46}
['66A_36', '66A_38']
66B
{'66B_57': 46, '66B_59': 46}
['66B_57', '66B_59']
66X
{'66X_97': 51, '66X_96': 49, '66X_99': 42, '66X_100': 41, '66X_101': 43, '66X_105': 41, '66X_104': 42, '66X_106': 40, '66X_102': 48, '66X_103': 50}
['66X_97']
67
{'67_6': 65}
['67_6']
67X
{'67X_42': 55, '67X_41': 56, '67X_46': 55, '67X_47': 54}
['67X_41']
68
{'68_85': 67, '68_83': 70, '68_66': 52, '68_82': 74, '68_84': 71}
['68_82']
68A
{'68A_87': 21}
['68A_87']
68X
{'68X_88': 42}
['68X_88']
69
{'69_44': 62, '69_30': 55, '69_47': 62, '69_46': 55}
['69_44', '69_47']
69X
{'69X_60': 15}
['69X_60']
7
{'7_71': 57, '7_70': 58, '7_74': 58}
['7_70', '7_74']
70
{'70_67': 51, '70_69': 40}
['70_67']
70D
{'70D_71': 41}
['70D_71']
75
{'75_19': 85, '75_21': 94, '75_20': 83}
['75_21']
76
{'76_37': 35}
['76_37']
76A
{'76A_29': 39}
['76A_29']
77A
{'77A_28': 69, '77A_31': 69}
['77A_28', '77A_31']
77X
{'77X_61': 65, '77X_62': 65}
['77X_61', '77X_62']
79
{'79_11': 31}
['79_11']
79A
{'79A_28': 32}
['79A_28']
7A
{'7A_87': 65, '7A_88': 64, '7A_89': 65}
['7A_87', '7A_89']
7B
{'7B_93': 59}
['7B_93']
7D
{'7D_121': 54, '7D_122': 13, '7D_123': 82}
['7D_123']
83
{'83_25': 63, '83_22': 69, '83_27': 41, '83_24': 29}
['83_22']
83A
{'83A_26': 63, '83A_23': 69}
['83A_23']
84
{'84_31': 87, '84_30': 86, '84_32': 48}
['84_31']
84A
{'84A_3': 44, '84A_4': 51}
['84A_4']
84X
{'84X_53': 43, '84X_52': 41, '84X_59': 25, '84X_61': 42, '84X_62': 41, '84X_63': 24}
['84X_53']
9
{'9_7': 68, '9_8': 37}
['9_7']

In [31]:
print(longest_ib_subroutes)

['1_40', '102_9', '104_16', '11_42', '111_8', '111_9', '114_6', '116_3', '118_4', '120_10', '120_11', '122_16', '122_20', '123_36', '13_67', '13_68', '13_70', '130_11', '14_16', '140_21', '142_12', '145_105', '145_93', '14C_18', '15_17', '150_9', '151_17', '15A_84', '15B_61', '15D_63', '16_24', '161_51', '16C_28', '17_15', '17A_13', '17A_17', '18_4', '184_28', '185_59', '185_62', '185_60', '220_15', '236_10', '238_15', '239_28', '25_269', '25A_270', '25B_271', '25D_275', '25X_9', '26_26', '26_29', '27_17', '270_44', '27A_7', '27B_34', '27X_42', '29A_15', '31_18', '31A_26', '31B_46', '31D_51', '32_58', '32X_76', '33_70', '33A_25', '33B_58', '33D_62', '33X_47', '37_15', '38_15', '38A_33', '38B_44', '38D_61', '39_21', '39A_43', '39X_2', '39X_3', '4_12', '4_14', '40_31', '40B_65', '40D_103', '40E_91', '41_25', '41A_22', '41B_53', '41C_79', '41D_27', '41X_128', '41X_126', '42_44', '42D_51', '43_89', '43_88', '44_36', '44B_61', '45A_69', '46A_67', '46E_93', '46E_94', '47_135', '49_29', '51D_47', '51D_51', '51X_63', '53_21', '54A_12', '56A_30', '59_11', '61_109', '63_31', '65_76', '65B_66', '66_13', '66_18', '66A_36', '66A_38', '66B_57', '66B_59', '66X_97', '67_6', '67X_41', '68_82', '68A_87', '68X_88', '69_44', '69_47', '69X_60', '7_70', '7_74', '70_67', '70D_71', '75_21', '76_37', '76A_29', '77A_28', '77A_31', '77X_61', '77X_62', '79_11', '79A_28', '7A_87', '7A_89', '7B_93', '7D_123', '83_22', '83A_23', '84_31', '84A_4', '84X_53', '9_7']

In [32]:
file = open("stoptimes/longest_ib_subroutes.txt", "w")
for element in longest_ib_subroutes:
    file.write(element + "\n")
file.close()

print("Write successful")

Write successful

In [8]:
with open("stoptimes/longest_ob_subroutes.txt") as file:
    longest_ob_subroutes = file.readlines()
longest_ob_subroutes = [line.strip() for line in longest_ob_subroutes]

In [9]:
with open("stoptimes/longest_ib_subroutes.txt") as file:
    longest_ib_subroutes = file.readlines()
longest_ib_subroutes = [line.strip() for line in longest_ib_subroutes]

In [35]:
def get_stop_sequence(route_list):
    stop_sequence_all_routes = pd.DataFrame(columns=["LINEID", "ROUTEID", "DIRECTION", "PROGRNUMBER", "STOPPOINTID"])

    for route in route_list:
        line = route.split("_")[0]
        current = pd.read_csv("~/data/stoptimes/" + line + "_stops.csv")
        merged = current.merge(trips_df, how="left", on=["DAYOFSERVICE", "TRIPID"])
        merged = merged.loc[merged["ROUTEID"] == route] 
        merged = merged.sort_values(by=["PROGRNUMBER"])
        stop_sequence = merged[["LINEID", "ROUTEID", "DIRECTION", "PROGRNUMBER", "STOPPOINTID"]].copy()
        stop_sequence = stop_sequence.drop_duplicates()
        stop_sequence_all_routes = stop_sequence_all_routes.append(stop_sequence)
        print("Route", route, "complete")
    return stop_sequence_all_routes

In [36]:
ob_subroutes_df = get_stop_sequence(longest_ob_subroutes)
ob_subroutes_df.shape

Route 1_37 complete
Route 102_8 complete
Route 104_15 complete
Route 11_40 complete
Route 111_7 complete
Route 114_5 complete
Route 116_1 complete
Route 120_8 complete
Route 122_14 complete
Route 122_18 complete
Route 123_34 complete
Route 13_61 complete
Route 13_63 complete
Route 130_10 complete
Route 14_15 complete
Route 140_19 complete
Route 142_13 complete
Route 145_102 complete
Route 14C_17 complete
Route 15_16 complete
Route 150_8 complete
Route 151_15 complete
Route 151_16 complete
Route 15A_83 complete
Route 15B_60 complete
Route 15B_56 complete
Route 15D_62 complete
Route 16_20 complete
Route 161_50 complete
Route 16C_29 complete
Route 16D_30 complete
Route 17_10 complete
Route 17A_11 complete
Route 17A_15 complete
Route 18_3 complete
Route 184_29 complete
Route 185_55 complete
Route 185_54 complete
Route 220_14 complete
Route 236_9 complete
Route 238_11 complete
Route 239_26 complete
Route 25_272 complete
Route 25A_273 complete
Route 25B_274 complete
Route 25D_277 complete
Route 25X_10 complete
Route 26_24 complete
Route 26_28 complete
Route 27_19 complete
Route 270_42 complete
Route 27A_4 complete
Route 27B_23 complete
Route 27X_43 complete
Route 29A_14 complete
Route 31_17 complete
Route 31A_25 complete
Route 31B_44 complete
Route 31D_50 complete
Route 32_57 complete
Route 32X_74 complete
Route 32X_77 complete
Route 33_69 complete
Route 33A_22 complete
Route 33B_56 complete
Route 33D_61 complete
Route 33E_74 complete
Route 33X_46 complete
Route 37_14 complete
Route 38_10 complete
Route 38A_20 complete
Route 38B_40 complete
Route 38D_68 complete
Route 39_22 complete
Route 39A_40 complete
Route 39X_1 complete
Route 4_10 complete
Route 40_27 complete
Route 40B_63 complete
Route 40D_101 complete
Route 40E_90 complete
Route 41_22 complete
Route 41B_58 complete
Route 41C_78 complete
Route 41C_83 complete
Route 41D_26 complete
Route 41X_121 complete
Route 42_42 complete
Route 42D_50 complete
Route 43_85 complete
Route 43_84 complete
Route 44_40 complete
Route 44B_60 complete
Route 45A_67 complete
Route 46A_74 complete
Route 47_138 complete
Route 49_27 complete
Route 51D_50 complete
Route 53_22 complete
Route 54A_11 complete
Route 56A_31 complete
Route 59_10 complete
Route 61_107 complete
Route 63_27 complete
Route 65_73 complete
Route 65B_65 complete
Route 66_11 complete
Route 66_17 complete
Route 66A_34 complete
Route 66A_37 complete
Route 66B_55 complete
Route 66B_58 complete
Route 66X_92 complete
Route 67_4 complete
Route 67X_43 complete
Route 68_81 complete
Route 68_78 complete
Route 68A_86 complete
Route 69_43 complete
Route 69_45 complete
Route 69X_59 complete
Route 7_66 complete
Route 7_67 complete
Route 70_60 complete
Route 70D_70 complete
Route 75_18 complete
Route 76_36 complete
Route 76A_28 complete
Route 77A_29 complete
Route 77A_30 complete
Route 79_10 complete
Route 79A_27 complete
Route 7A_86 complete
Route 7B_91 complete
Route 7D_120 complete
Route 83_16 complete
Route 83A_17 complete
Route 84_28 complete
Route 84A_2 complete
Route 84X_57 complete
Route 9_5 complete

(7924, 5)

In [37]:
ob_subroutes_df.head()

        LINEID ROUTEID DIRECTION PROGRNUMBER STOPPOINTID
512465       1    1_37         1           1         226
176654       1    1_37         1           2         228
1278020      1    1_37         1           3         229
554384       1    1_37         1           4         227
785345       1    1_37         1           5         230

In [38]:
ob_subroutes_df.isna().sum()

LINEID         0
ROUTEID        0
DIRECTION      0
PROGRNUMBER    0
STOPPOINTID    0
dtype: int64

In [39]:
ib_subroutes_df = get_stop_sequence(longest_ib_subroutes)

Route 1_40 complete
Route 102_9 complete
Route 104_16 complete
Route 11_42 complete
Route 111_8 complete
Route 111_9 complete
Route 114_6 complete
Route 116_3 complete
Route 118_4 complete
Route 120_10 complete
Route 120_11 complete
Route 122_16 complete
Route 122_20 complete
Route 123_36 complete
Route 13_67 complete
Route 13_68 complete
Route 13_70 complete
Route 130_11 complete
Route 14_16 complete
Route 140_21 complete
Route 142_12 complete
Route 145_105 complete
Route 145_93 complete
Route 14C_18 complete
Route 15_17 complete
Route 150_9 complete
Route 151_17 complete
Route 15A_84 complete
Route 15B_61 complete
Route 15D_63 complete
Route 16_24 complete
Route 161_51 complete
Route 16C_28 complete
Route 17_15 complete
Route 17A_13 complete
Route 17A_17 complete
Route 18_4 complete
Route 184_28 complete
Route 185_59 complete
Route 185_62 complete
Route 185_60 complete
Route 220_15 complete
Route 236_10 complete
Route 238_15 complete
Route 239_28 complete
Route 25_269 complete
Route 25A_270 complete
Route 25B_271 complete
Route 25D_275 complete
Route 25X_9 complete
Route 26_26 complete
Route 26_29 complete
Route 27_17 complete
Route 270_44 complete
Route 27A_7 complete
Route 27B_34 complete
Route 27X_42 complete
Route 29A_15 complete
Route 31_18 complete
Route 31A_26 complete
Route 31B_46 complete
Route 31D_51 complete
Route 32_58 complete
Route 32X_76 complete
Route 33_70 complete
Route 33A_25 complete
Route 33B_58 complete
Route 33D_62 complete
Route 33X_47 complete
Route 37_15 complete
Route 38_15 complete
Route 38A_33 complete
Route 38B_44 complete
Route 38D_61 complete
Route 39_21 complete
Route 39A_43 complete
Route 39X_2 complete
Route 39X_3 complete
Route 4_12 complete
Route 4_14 complete
Route 40_31 complete
Route 40B_65 complete
Route 40D_103 complete
Route 40E_91 complete
Route 41_25 complete
Route 41A_22 complete
Route 41B_53 complete
Route 41C_79 complete
Route 41D_27 complete
Route 41X_128 complete
Route 41X_126 complete
Route 42_44 complete
Route 42D_51 complete
Route 43_89 complete
Route 43_88 complete
Route 44_36 complete
Route 44B_61 complete
Route 45A_69 complete
Route 46A_67 complete
Route 46E_93 complete
Route 46E_94 complete
Route 47_135 complete
Route 49_29 complete
Route 51D_47 complete
Route 51D_51 complete
Route 51X_63 complete
Route 53_21 complete
Route 54A_12 complete
Route 56A_30 complete
Route 59_11 complete
Route 61_109 complete
Route 63_31 complete
Route 65_76 complete
Route 65B_66 complete
Route 66_13 complete
Route 66_18 complete
Route 66A_36 complete
Route 66A_38 complete
Route 66B_57 complete
Route 66B_59 complete
Route 66X_97 complete
Route 67_6 complete
Route 67X_41 complete
Route 68_82 complete
Route 68A_87 complete
Route 68X_88 complete
Route 69_44 complete
Route 69_47 complete
Route 69X_60 complete
Route 7_70 complete
Route 7_74 complete
Route 70_67 complete
Route 70D_71 complete
Route 75_21 complete
Route 76_37 complete
Route 76A_29 complete
Route 77A_28 complete
Route 77A_31 complete
Route 77X_61 complete
Route 77X_62 complete
Route 79_11 complete
Route 79A_28 complete
Route 7A_87 complete
Route 7A_89 complete
Route 7B_93 complete
Route 7D_123 complete
Route 83_22 complete
Route 83A_23 complete
Route 84_31 complete
Route 84A_4 complete
Route 84X_53 complete
Route 9_7 complete

In [41]:
ib_subroutes_df.shape

(8293, 5)

In [42]:
ib_subroutes_df.head()

        LINEID ROUTEID DIRECTION PROGRNUMBER STOPPOINTID
1096219      1    1_40         2           1         381
758662       1    1_40         2           2         382
1261516      1    1_40         2           3        4451
1217980      1    1_40         2           4         383
1151892      1    1_40         2           5         384

In [48]:
ib_subroutes_df.isna().sum()

LINEID         0
ROUTEID        0
DIRECTION      0
PROGRNUMBER    0
STOPPOINTID    0
dtype: int64

In [43]:
stops_per_longest_subroutes = ob_subroutes_df.append(ib_subroutes_df)

In [44]:
stops_per_longest_subroutes.shape

(16217, 5)

In [51]:
stops_per_longest_subroutes.drop_duplicates(inplace=True)
stops_per_longest_subroutes.shape

(16217, 5)

In [54]:
stops_per_longest_subroutes.to_csv("stoptimes/stops_per_longest_subroutes.csv")

In [10]:
stops_per_longest_subroutes = pd.read_csv("stoptimes/stops_per_longest_subroutes.csv")

In [12]:
stops_per_longest_subroutes.drop(stops_per_longest_subroutes.columns[0], axis=1, inplace=Tr

In [13]:
stops_per_longest_subroutes.head(1)

  LINEID ROUTEID  DIRECTION  PROGRNUMBER  STOPPOINTID
0      1    1_37          1            1          226

<h4>Find lines that have multiple "longest" subroutes</h4>

In [14]:
# Find lines that have multiple longest subroutes (outbound)
line_duplicates = []

for route in longest_ob_subroutes:
    line = route.split("_")[0]
    line_duplicates.append(line)

count = Counter(line_duplicates)

multiple_ob_subroutes = list([item for item in count if count[item] > 1])
print(multiple_ob_subroutes)

['122', '13', '151', '15B', '17A', '185', '26', '32X', '41C', '43', '66', '66A', '66B', '68', '69', '7', '77A']

In [15]:
# Find lines that have multiple longest subroutes (inbound)
line_duplicates = []

for route in longest_ib_subroutes:
    line = route.split("_")[0]
    line_duplicates.append(line)

count = Counter(line_duplicates)

multiple_ib_subroutes = list([item for item in count if count[item] > 1])
print(multiple_ib_subroutes)

['111', '120', '122', '13', '145', '17A', '185', '26', '39X', '4', '41X', '43', '46E', '51D', '66', '66A', '66B', '69', '7', '77A', '77X', '7A']

<h4>Check if stops match where there is more than one "longest" subroute for outbound routes</h4>

In [25]:
# Check if stops match where there is more than one longest subroute
for line in multiple_ob_subroutes:
    current = stops_per_longest_subroutes.loc[(stops_per_longest_subroutes["LINEID"] == line) & (stops_per_longest_subroutes["DIRECTION"] == 1)]
    routes = current.ROUTEID.unique().tolist()
    route_dict = {}
    for route in routes:
        current_route = current.loc[current["ROUTEID"] == route]
        unique_stops = current_route.STOPPOINTID.unique().tolist()
        route_dict[route] = unique_stops
    
    expected_stops = next(iter(route_dict.values()))
    all_equal = all(value == expected_stops for value in route_dict.values())
    
    if all_equal:
        print(line, "ok")
    else:
        print("Mismatch for line", line, "outbound")

122 ok
Mismatch for line 13 outbound
151 ok
15B ok
17A ok
185 ok
26 ok
Mismatch for line 32X outbound
41C ok
Mismatch for line 43 outbound
66 ok
66A ok
66B ok
Mismatch for line 68 outbound
69 ok
Mismatch for line 7 outbound
77A ok

In [85]:
def check_mismatched_stops(line, direction):
    subsection = stops_per_longest_subroutes.loc[(stops_per_longest_subroutes["LINEID"] == line) & (stops_per_longest_subroutes["DIRECTION"] == direction)]
    list_routes = subsection.ROUTEID.unique().tolist()
        
    all_subsets = []
    
    for route in list_routes:
        list_stops = subsection.loc[subsection["ROUTEID"] == route].STOPPOINTID.unique().tolist()
        all_subsets.extend(list_stops)
        
    problem_stops = [stop for stop in set(all_subsets) if all_subsets.count(stop) <= 1]
    return problem_stops

In [86]:
ob_13 = check_mismatched_stops("13", 1)
ob_13

[7229, 7230]

In [87]:
ob_32 = check_mismatched_stops("32X", 1)
ob_32

[4495, 403, 2809, 2810, 333, 747]

In [88]:
ob_43 = check_mismatched_stops("43", 1)
ob_43

[7189, 1199, 4917, 4918, 4919, 6359]

In [89]:
ob_68 = check_mismatched_stops("68", 1)
ob_68

[7483, 7547]

In [90]:
ob_7 = check_mismatched_stops("7", 1)
ob_7

[1174, 4962]

<h4>Check if stops match where there is more than one "longest" subroute for outbound routes</h4>

In [93]:
# Check if stops match where there is more than one longest subroute
for line in multiple_ib_subroutes:
    current = stops_per_longest_subroutes.loc[(stops_per_longest_subroutes["LINEID"] == line) & (stops_per_longest_subroutes["DIRECTION"] == 2)]
    routes = current.ROUTEID.unique().tolist()
    route_dict = {}
    for route in routes:
        current_route = current.loc[current["ROUTEID"] == route]
        unique_stops = current_route.STOPPOINTID.unique().tolist()
        route_dict[route] = unique_stops
    
    expected_stops = next(iter(route_dict.values()))
    all_equal = all(value == expected_stops for value in route_dict.values())
    
    if all_equal:
        print(line, "ok")
    else:
        print("Mismatch for line", line, "inbound")

Mismatch for line 111 inbound
Mismatch for line 120 inbound
122 ok
Mismatch for line 13 inbound
Mismatch for line 145 inbound
17A ok
185 ok
26 ok
Mismatch for line 39X inbound
4 ok
Mismatch for line 41X inbound
Mismatch for line 43 inbound
46E ok
Mismatch for line 51D inbound
66 ok
66A ok
66B ok
69 ok
7 ok
77A ok
77X ok
7A ok