In [1]:
import pandas as pd

In [2]:
# Read random forest final metrics into dataframe
rfr_metrics = pd.read_csv("rfr_final_metrics.csv")

In [3]:
rfr_metrics.sort_values(by="route", inplace=True)
rfr_metrics.head()

,model_type,data,route,MAE_test,MSE_test,RMSE_test,MAPE_test,R2_test,5_fold_cv_MAE,MAE_actual_vs_planned,MAPE_actual_vs_planned
0,RFR,test,102_8,282.445534,134974.870585,367.389263,0.080037,0.453007,278.189033,338.429799,0.092865
1,RFR,test,102_9,279.265312,126353.388891,355.462219,0.083216,0.495686,268.113495,332.433726,0.095673
2,RFR,test,104_15,250.243917,115162.128977,339.355461,0.104192,0.262981,239.655164,257.402372,0.104178
3,RFR,test,104_16,221.062474,81969.206932,286.302649,0.096450,0.309534,225.007500,258.650422,0.107317
4,RFR,test,111_7,213.440461,87711.179563,296.160733,0.082492,0.633334,215.958969,303.777033,0.115716

In [4]:
rfr_metrics.shape

(252, 11)

In [5]:
# Read multi-layer perceptron metrics into dataframe
mlp_metrics = pd.read_csv("mlp_final_metrics.csv")

In [6]:
mlp_metrics.sort_values(by="route", inplace=True)
mlp_metrics.head()

,model_type,data,route,MAE_test,MSE_test,RMSE_test,MAPE_test,R2_test,5_fold_cv_MAE,MAE_actual_vs_planned,MAPE_actual_vs_planned
80,MLP,test,102_8,271.011464,122595.353429,350.136193,0.077548,0.503175,279.626263,338.429799,0.092865
84,MLP,test,102_9,264.781609,112826.469137,335.896516,0.078408,0.549676,268.412845,332.433726,0.095673
149,MLP,test,104_15,245.437587,105762.457439,325.211404,0.102624,0.323138,240.124693,257.402372,0.104178
148,MLP,test,104_16,227.653297,86859.953301,294.720127,0.098996,0.268337,232.422661,258.650422,0.107317
145,MLP,test,111_7,225.873177,97204.997092,311.777159,0.087405,0.593647,230.974106,303.777033,0.115716

In [7]:
mlp_metrics.shape

(249, 11)

In [8]:
merged_results = rfr_metrics.merge(mlp_metrics, on=["route"])

In [9]:
merged_results.head()

,model_type_x,data_x,route,MAE_test_x,MSE_test_x,RMSE_test_x,MAPE_test_x,R2_test_x,5_fold_cv_MAE_x,MAE_actual_vs_planned_x,...,model_type_y,data_y,MAE_test_y,MSE_test_y,RMSE_test_y,MAPE_test_y,R2_test_y,5_fold_cv_MAE_y,MAE_actual_vs_planned_y,MAPE_actual_vs_planned_y
0,RFR,test,102_8,282.445534,134974.870585,367.389263,0.080037,0.453007,278.189033,338.429799,...,MLP,test,271.011464,122595.353429,350.136193,0.077548,0.503175,279.626263,338.429799,0.092865
1,RFR,test,102_9,279.265312,126353.388891,355.462219,0.083216,0.495686,268.113495,332.433726,...,MLP,test,264.781609,112826.469137,335.896516,0.078408,0.549676,268.412845,332.433726,0.095673
2,RFR,test,104_15,250.243917,115162.128977,339.355461,0.104192,0.262981,239.655164,257.402372,...,MLP,test,245.437587,105762.457439,325.211404,0.102624,0.323138,240.124693,257.402372,0.104178
3,RFR,test,104_16,221.062474,81969.206932,286.302649,0.096450,0.309534,225.007500,258.650422,...,MLP,test,227.653297,86859.953301,294.720127,0.098996,0.268337,232.422661,258.650422,0.107317
4,RFR,test,111_7,213.440461,87711.179563,296.160733,0.082492,0.633334,215.958969,303.777033,...,MLP,test,225.873177,97204.997092,311.777159,0.087405,0.593647,230.974106,303.777033,0.115716

In [18]:
# These routes will not be included
merged_results.loc[(merged_results["MAE_actual_vs_planned_x"] < merged_results["5_fold_cv_MAE_x"]) & (merged_results["MAE_actual_vs_planned_y"] < merged_results["5_fold_cv_MAE_y"]) ]

,model_type_x,data_x,route,MAE_test_x,MSE_test_x,RMSE_test_x,MAPE_test_x,R2_test_x,5_fold_cv_MAE_x,MAE_actual_vs_planned_x,...,model_type_y,data_y,MAE_test_y,MSE_test_y,RMSE_test_y,MAPE_test_y,R2_test_y,5_fold_cv_MAE_y,MAE_actual_vs_planned_y,MAPE_actual_vs_planned_y
101,RFR,test,31D_51,325.155094,167420.291015,409.170247,0.142171,0.020935,381.957689,377.094340,...,MLP,test,309.740983,166124.100623,407.583244,0.140021,0.028515,387.322356,377.094340,0.168076
131,RFR,test,39X_3,451.887513,309325.483154,556.170372,0.108687,-0.169306,424.751329,378.861925,...,MLP,test,431.481819,287047.826178,535.768445,0.103388,-0.085092,414.216901,378.861925,0.088042
213,RFR,test,70D_71,277.785000,132942.578906,364.612917,0.084181,0.166327,301.087529,284.648148,...,MLP,test,440.072362,339779.707331,582.906259,0.134162,-1.130734,397.362069,284.648148,0.082470

In [10]:
mlp_better = merged_results.loc[merged_results["5_fold_cv_MAE_y"] < merged_results["5_fold_cv_MAE_x"]]

In [11]:
mlp_better.shape

(84, 21)

In [12]:
mlp_better.head()

,model_type_x,data_x,route,MAE_test_x,MSE_test_x,RMSE_test_x,MAPE_test_x,R2_test_x,5_fold_cv_MAE_x,MAE_actual_vs_planned_x,...,model_type_y,data_y,MAE_test_y,MSE_test_y,RMSE_test_y,MAPE_test_y,R2_test_y,5_fold_cv_MAE_y,MAE_actual_vs_planned_y,MAPE_actual_vs_planned_y
11,RFR,test,11_40,582.795140,768595.262753,876.695650,0.119002,0.350186,520.642900,1606.620574,...,MLP,test,506.655612,537362.892650,733.050403,0.104582,0.545683,513.318590,1606.620574,0.283479
13,RFR,test,120_7,171.255124,47517.985367,217.986205,0.105817,0.387980,162.031130,189.905350,...,MLP,test,159.775378,41303.525645,203.232688,0.100639,0.468021,158.815704,189.905350,0.110729
15,RFR,test,122_18,334.618469,178723.106452,422.756557,0.083571,0.442267,328.827387,459.366285,...,MLP,test,315.045529,157591.516093,396.977979,0.079113,0.508212,319.088046,459.366285,0.109516
16,RFR,test,122_20,347.622338,189810.230087,435.672159,0.084397,0.454622,334.658924,485.788084,...,MLP,test,320.801648,162218.548500,402.763639,0.078131,0.533900,326.992860,485.788084,0.111682
17,RFR,test,123_34,348.570730,198136.228688,445.124959,0.099807,0.474848,347.557969,377.411624,...,MLP,test,323.886896,173163.085740,416.128689,0.092634,0.541038,336.474565,377.411624,0.103399

In [13]:
for index, row in mlp_better.iterrows():
    print(row["5_fold_cv_MAE_x"] - row["5_fold_cv_MAE_y"])

7.324309459177584
3.215426626724309
9.739341048702386
7.6660640517421825
11.083403285068982
8.912395132422091
3.528310541873111
8.109640687133407
1.7061425516905615
17.610423468086935
11.834056584295467
19.415962059564663
4.597027388727668
7.1251741637131545
4.621595307101785
1.141990765440056
2.3005608577082057
0.4312312771431266
5.33948044853372
8.019986740338481
0.9186479311274525
21.728650061848498
16.585645302901696
10.586039506600514
7.550192719907841
6.922698795934366
2.507744230296879
0.7692543037865676
2.215912374026402
1.1388558627357384
3.6260294956792904
3.292291235635105
1.9382108540362992
0.41179814413601434
3.476436953204825
8.800362512555353
6.183909908568808
1.6601300568582076
3.8493227847486935
0.7765856035185266
0.2987930544392441
7.85306346099469
7.450909943025408
0.2915582876000258
1.263339881455181
7.48096827136618
3.28217293180262
10.534427860617768
2.9077113811674735
2.3461648891595246
2.001518629209585
10.80226264491273
3.9399181416920896
2.889013078372443
4.828033235036514
3.2211919430858984
1.6723386158739686
3.9526890279768168
1.4380611728531676
18.508437340689454
5.932085424117588
1.469343902707351
6.23498203304689
2.8135662662681966
7.993285372770117
3.8065528917168763
0.908613188443212
2.6964693856635904
6.493044072317389
1.7533769255268794
0.947498426123957
0.26659816513546275
5.5966060240891125
0.15133038876408023
2.228742671268378
1.5675839435451167
1.1524543409987018
0.2110797123186785
12.419209492002892
5.746442238770896
11.472771962999275
9.391387798513506
4.43024182051829
4.816757728078869

In [14]:
routes_to_replace = mlp_better.route.unique().tolist()
routes_to_replace.sort()

In [15]:
print(routes_to_replace)

['11_40', '120_7', '122_18', '122_20', '123_34', '123_36', '130_10', '130_11', '140_19', '140_21', '145_102', '145_105', '14_15', '14_16', '150_8', '150_9', '151_15', '15A_83', '15A_84', '15B_60', '15B_61', '15_16', '15_17', '16_20', '17A_15', '17A_17', '184_29', '18_4', '1_37', '25A_270', '25A_273', '25B_271', '25D_275', '26_29', '27A_4', '27_17', '27_19', '29A_14', '29A_15', '31_15', '31_18', '33B_58', '37_14', '38A_20', '38A_32', '38_14', '39A_43', '39X_3', '39_21', '40D_102', '40D_104', '40_31', '41C_78', '41C_79', '41_3', '41_7', '42_44', '43_84', '45A_60', '46A_67', '46A_74', '49_27', '49_28', '4_10', '4_12', '63_26', '65B_65', '66_18', '67X_46', '67_4', '69_47', '70_67', '76_36', '76_37', '77A_28', '77A_29', '79_10', '79_11', '7B_93', '7_70', '83_16', '83_22', '84X_62', '9_7']